[2017-09-21 19:28] crutchcorn opened #1 "README"
It would be nice to have a README that has installation instructions, screenshots, and more information on the project

[2017-09-22 21:57] artemanufrij commented on #1
@crutchcorn I've added a README file:
https://github.com/artemanufrij/playmymusic/blob/master/README.md

[2017-09-22 21:57] #1 closed

[2017-09-22 21:58] crutchcorn commented on #1
You mistakenly refered to this project as Regextester in the README. Might be something you wanna fix

[2017-09-22 22:05] artemanufrij commented on #1
@crutchcorn done :)

[2017-09-28 11:20] J0Ar opened #2 "Missing dependency > No package 'libsoup-2.4' found"
On a standard elementaryOS installation there is a missing package called `libsoup-2.4`
I did a `sudo apt install libsoup*` and everything went fine.
Maybe this was too much but there are so many libsoup-packages around :D

Error message:
![bildschirmfoto von 2017-09-28 13 16 46](https://user-images.githubusercontent.com/23266409/30963871-6fbf1368-a44f-11e7-8c71-9127afcf0b53.png)
Solved:
![bildsch

[2017-09-28 11:23] J0Ar opened #3 "Some Radiostreams doesn't work and the UI freeze"
I tested several webstations i mostly listen to and there are some which doesn't work...also when you select such an stream the the app freezes...

_http://www.antenne.de/webradio/channels/chillout.m3u_
_http://www.etn.fm:8200/house-mp3-320_
_http://streams.rsa-sachsen.de/rsa-live/aac-64/mediaplayerrsa_

[2017-09-28 11:34] J0Ar opened #4 "Make already existing webradio entries editable"
Would be nice if you could edit a webradio entry, which is already in the list.

[2017-09-28 11:53] artemanufrij commented on #2
@J0Ar thank you for your feedback.
`sudo apt install libsoup2.4-dev` should be installed.

PS: I updated README.MD already

[2017-09-28 11:53] #2 closed

[2017-09-28 19:29] artemanufrij commented on #3
@J0Ar could you text current master branch please?

[2017-09-30 00:42] J0Ar commented on #3
Ha...now the streams working fine and they load really fast...great. Also the flowbox? design is much better.

[2017-09-30 04:37] worldofpeace opened #5 "Not a Bug: Installs perfectly On elementary daily"
Hi I tested your app source build on elementary daily. Works great. I did notice that I didn't pick up all of my cover arts though. I don't think it's totally related to your app though. Exerything great besides that.

[2017-09-30 04:49] worldofpeace opened #6 "Integrate control of media in sound indicator"
Some function as the default music app.

[2017-09-30 12:00] artemanufrij commented on #3
@J0Ar thank you for your feedback! I'm going to close this issue.

[2017-09-30 12:00] #3 closed

[2017-10-01 08:33] artemanufrij commented on #5
@worldofpeace thank you for your feedback!

[2017-10-01 08:33] #5 closed

[2017-10-01 19:34] artemanufrij opened #7 "[PLAYLIST]: add playlist support"

[2017-10-04 15:49] WebShapedBiz opened #8 "While playing, Back button doesn't restart the song."

[2017-10-04 15:54] WebShapedBiz opened #9 "In "Single Album view", there is no cover on any album."
In "Albums view" the covers are displayed but when switched to "Single Album view" all covers are missing.
Thank you very much for your time and effort creating this app, Noise in not the strongest Elementary OS app and I hope I'll replace it with PlayMyMusic.

[2017-10-04 16:30] artemanufrij commented on #8
Hey @WebShapedBiz, it plays previos song, right?

[2017-10-04 16:32] artemanufrij commented on #9
@WebShapedBiz could you post a screen shot, please? The second view is an artist view. You need an artist.jpg/png in your folder…

[2017-10-04 18:11] WebShapedBiz commented on #8
Yes it does play a previous song, it just won't go back to the start of the song.

[2017-10-04 18:25] artemanufrij commented on #8
@WebShapedBiz could you test current master branch, please?

[2017-10-04 18:27] WebShapedBiz commented on #8
I would love to but I know how to work with debs only.
Since I'm having my music app running all day I will test the living daylights out of this, but only with debs provided, sorry.

[2017-10-04 18:32] WebShapedBiz opened #10 "Rescan library while playing breaks the app"
On Rescan Library while playing the app exits immediately. After restart there is no songs in library and automatic scan begins like on the first run.

[2017-10-04 18:36] artemanufrij commented on #8
No problem.
Newst behavior:
if progress > 1 second => current song will be started again (0:00). otherwise prev song will be played

[2017-10-04 18:37] WebShapedBiz commented on #8
Thank you Artem.

[2017-10-04 18:38] artemanufrij commented on #10
hm... I tested this use case again and again on three systems... Can you reproduce it?

[2017-10-04 18:44] WebShapedBiz commented on #10
It is happening on every rescan. The last time, just minute ago, with new behaviour.
On previous occasions, after restart, there are no songs in the library and automatic scan restored them as they were before. However, the last time the rescan split my album the was playing and created two entries in my library - one with only one song, the one that was plaing, and all the other songs were put in

[2017-10-04 18:48] artemanufrij commented on #8
you are welcome!

[2017-10-04 18:48] WebShapedBiz commented on #10
Result: https://www.useloom.com/share/bf7512ead7f74a33bd93e1fd4647de4a

[2017-10-04 18:52] artemanufrij commented on #10
could you start the player from console by `com.github.artemanufrij.playmymusic` and reproduce this crash please?

[2017-10-04 18:55] WebShapedBiz commented on #10
Already did. There is no error messages while rescanning/exiting but there is an error message always at start of app:

[INFO 20:55:00.507782] Application.vala:155: Kernel version: 4.4.0-96-generic
[WARNING 20:55:00.518164] Couldn't connect to accessibility bus: Failed to connect to socket /tmp/dbus-1MOOUInRZr: Veza odbijena

[2017-10-04 19:02] artemanufrij commented on #10
Currently I'm testing it on tree systems with 100 - 5500 files. It runs very stable. :confused:

[code]

[2017-10-04 19:04] WebShapedBiz commented on #10
I have another computer (Elementary OS with HWE kerel) so I could try there if you think it would help you.

[2017-10-04 19:05] artemanufrij commented on #10
It would be very helpful!

[2017-10-04 19:15] WebShapedBiz commented on #10
On my laptop It works flawlessly.

[2017-10-04 19:22] artemanufrij commented on #10
That's what I mean...

[2017-10-04 19:23] WebShapedBiz commented on #10
So the conclusion is what? I'm should listen a better music on my desktop? ;-)

[2017-10-04 19:25] artemanufrij commented on #10
which vala version is installed on your systems? `vala --version`

[2017-10-04 19:26] WebShapedBiz commented on #10
Apparently none, it said that I should apt install valac. But I have no other issues with my system.

[2017-10-04 19:30] WebShapedBiz commented on #10
Desktop/Laptop: libvala 0.36.5

[2017-10-04 19:32] artemanufrij commented on #10
I'm going to close this issue... I guess I can't fix it for "old" kernel... thank you for your support!

[2017-10-04 19:32] #10 closed

[2017-10-05 10:02] yeboahnanaosei opened #12 "Suggestion: Work with the default music app"
Hi, thanks for such a great music app. I've been using elementary's default music app and I do enjoy it.
However things like album art has never worked. With your app, album art works perfectly. I would like to suggest that instead of creating a different app, why not work on the default music app and implement some of the things you've implemented in this app. I think the elementary world will be

[2017-10-05 11:37] artemanufrij commented on #12
Hi @yeboahnanaosei , thank you for your suggestion.

As first I tried to fix it in Noise. But it was a very big challenge. That was one of any reasons why it started a new app **from scratch**.

[2017-10-05 17:17] png2378 opened #13 "Background playing support"
It would be cool.

[2017-10-05 20:25] artemanufrij commented on #4
Hey @J0Ar, could you test current master branch, please?

![bildschirmfoto von 2017-10-05 22 20 43](https://user-images.githubusercontent.com/16517095/31250709-00c48380-aa1c-11e7-91f3-08fab3b241d1.png)

[2017-10-06 01:42] Djcoper opened #14 "Crash when loading music library"
Music Player only loads about 25% of files in music folder before crashing, I'm trying to find the file it crashes on.

Launching Music Player from terminal gives this output :
[WARNING 02:28:48.441253] TagManager.vala:61: DISCOVER ERROR: No valid frames decoded before end of stream GST_DISCOVERER_ERROR (file:// "path to file" .mp3).

[2017-10-06 07:27] dmanlfc commented on #6
Agreed - would be great

[2017-10-06 07:53] dmanlfc opened #15 "Build instructions - slight error"
Firstly, good start to your music player!
I'm looking forward to your progress

Just one thing I noticed - the build instructions should be 'mkdir build' not just 'mkdir'

[2017-10-06 07:57] dmanlfc opened #16 "Jump to current playing song / album"
It would be great to have an album art next to the player controls on the app window that you can click on. This will then take you to that song / album / artist in the current view.

[2017-10-06 08:18] dmanlfc opened #17 "DB coding issue?"
If Album Titles or Artists have an "&" in their name they're shown as "&amp"
Funnily enough if you hover over the Album it shows correctly

[2017-10-06 09:31] k4r7u commented on #7
Is this intended to be like the playlist feature in VLC?
This is currently the only reason why I am still using VLC instead of playmymusic or elementary music.
I have a lot of music on my NAS perfectly sorted in a good folder structure, which is not always available to my Laptop. Therefore a library maintained by a music app is not working for me. It would be nice to be able to just drag folders t

[2017-10-06 11:13] artemanufrij commented on #17
Could you post a screenshot, please?

[2017-10-06 11:15] artemanufrij commented on #15
@dmanlfc thank you for your support! README.md was fixed!

[2017-10-06 11:15] #15 closed

[2017-10-06 11:20] artemanufrij commented on #14
Crashes Music Player every time?

PS:  `[WARNING 02:28:48.441253` is just a warning if ID3-Tags couldn't be read. It's not the reason for a crash....

[2017-10-06 11:34] #12 closed

[2017-10-06 11:43] dmanlfc commented on #17
![screenshot from music](https://user-images.githubusercontent.com/32564392/31276480-69176664-aadf-11e7-8da8-0eebf331b96c.png)

[2017-10-06 11:45] artemanufrij commented on #17
Thank you! I will fix it tonight

[2017-10-06 14:14] artemanufrij commented on #7
Hey @k4r7u, you can already import music files into Music Player. `Options` -> `Import Music...`. It's an import of path's into database and not a file copy.

[2017-10-06 15:23] jtrees opened #18 "Symbolic links in library folder not working"
### Steps to Reproduce
1. Create a folder `~/foo`
2. Create a symbolic link pointing to a folder that contains music at `~/foo/bar`
3. Select "Change Music Folder..." from the menu in the app

### Expected Result
The music pointed to by the symbolic link `bar` should turn up in the library.

### Actual Result
The music is not added to the library. Rescanning does not help.

[2017-10-06 15:28] artemanufrij commented on #17
Current master branch solve the issue... could you test it please?

[2017-10-06 15:57] artemanufrij commented on #18
HEy @jtrees, current master branch should fix this issue. Could you test it please?

[2017-10-06 17:28] jtrees commented on #18
It works! Wow, that response speed was epic! :+1:

[2017-10-06 17:28] #18 closed

[2017-10-06 17:36] jtrees commented on #14
I also get a consistent crash on 3a8dae0c3dab3f2883f938b649ecf232298bf94f and am unable to start the app at all:

[code]

It was also triggered during the initial library import. Perhaps there is a specific file in my collection that is causing it to crash?

Please let me know what I can provide to help you debug the issue.

[2017-10-06 17:59] artemanufrij commented on #14
@jtrees are you on daily or stable?

[2017-10-06 18:47] jtrees commented on #14
I am on elementary OS stable, if that's what you mean.

[2017-10-06 19:11] artemanufrij commented on #14
@jtrees have you only mp3 files? if not which types are using?

[2017-10-06 21:01] artemanufrij commented on #14
I found out what the rease was... I hope I can push a fix in few hours.

[2017-10-06 22:23] artemanufrij commented on #14
@Djcoper, @jtrees could you test current master branch, please?

[2017-10-06 22:27] dmanlfc commented on #17
Yes fixed - thanks!

[2017-10-06 22:31] artemanufrij commented on #17
Thank you for your support!

[2017-10-06 22:31] #17 closed

[2017-10-07 02:39] Djcoper commented on #14
It's NOT crashing on current master branch, loaded everything perfectly.

P.S: I was sure a warning wouldn't cause crash but maybe terminal output would be useful.

[2017-10-07 08:56] artemanufrij commented on #14
@Djcoper thank you very much for your support

[2017-10-07 16:08] jtrees commented on #14
You are quite the ninja. It no longer crashes consistently with b1f1f2cec6451ec824dafe17f801619572d019a4 but I did get several crashes (about five) before the entire library import completed.

Here is the terminal output for one such instance. I hope it is helpful:

https://0bin.net/paste/kDqIjv1fWGufCx-o#O6epgHbEBmUpcxdMUjeZ-Newuqv/dRCvn1faH82PrCD

[2017-10-07 16:12] artemanufrij commented on #14
@jtrees thanks for your feedback... I'm going to check it!

[2017-10-07 16:40] artemanufrij commented on #14
unfortunately I can't reproduce it. But I implemented small fixes and I hoppe that it was the reason.

@jtrees could you test it please?

[2017-10-07 16:47] jtrees commented on #14
Sure. I should probably clear the library database for that though, since now I have it all imported. Where are the files stored?

[2017-10-07 17:21] jtrees commented on #14
Unfortunately the issue still persists. I noticed a crash just as it was importing from an album with some PDFs in the same folder. Perhaps this has something to do with it?

Also, just for reference: My library consists mostly of flac and mp3 files with some ogg, m4a and potentially wav mixed in.

[2017-10-07 18:50] artemanufrij commented on #14
I check if mime type is an audio file `mime_type.contains ("audio/")`

[2017-10-07 19:48] #4 closed

[2017-10-07 20:53] Djcoper commented on #14
@artemanufrij after clearing all " music Player "  data and re-scanning the whole library the crashing has returned. :/
P.S: My library is stored a separate NTFS partition and all files referenced in terminal Warnings are small in file size, 5kb to 30kb max.
terminal output :
https://0bin.net/paste/VQYGYVXHBvqeJzJY#dHymbt+3DYkHPj8h76CiqZp8MyRQXdJdtAQN+PRHynZ

[2017-10-07 20:58] Djcoper commented on #14
Also files referenced in terminal Warnings do not play in "Music Player" but the files are not corrupted  as they play in noise and other media players.

[2017-10-07 21:02] artemanufrij commented on #14
@Djcoper could you post one of your files please? I have to test it on my system....

[2017-10-07 21:07] Djcoper commented on #14
These are the last lines of terminal output before crash.

** (com.github.artemanufrij.playmymusic:6370): WARNING **: DataBaseManager.vala:293: Error: 101: unknown error
Track ID: 7
Segmentation fault (core dumped)

[2017-10-07 21:10] Djcoper commented on #14
Clone this "https://github.com/Djcoper/Djcoper.github.io.git" then try to import ./staffgame/game_assets.

[2017-10-07 21:57] artemanufrij commented on #14
they files can't be played also in noise...

![bildschirmfoto von 2017-10-07 23 55 34](https://user-images.githubusercontent.com/16517095/31312103-31647c7a-abbb-11e7-8bf7-5337ab2f309c.png)

[2017-10-07 22:21] artemanufrij commented on #14
@Djcoper could you test current master branch please?

[2017-10-07 22:35] Djcoper commented on #14
hmm I was sure they played in noise earlier, in ether case these seem to be the files that caused the crashing for me.

It seems like noise has some mechanisms for detecting corrupted files then refusing to load them into its database.

![screenshot from 2017-10-07 23 24 31](https://user-images.githubusercontent.com/30577249/31312297-01aa874e-abb7-11e7-94e6-818f9b8124a0.png)

[2017-10-07 22:39] artemanufrij commented on #14
Yes, both are based on Gst

[2017-10-08 13:17] k4r7u commented on #7
Yes, I am aware of that. The issue for me is, that when my NAS is not available, I have a really big library not available to me, but shown in the player. Therefore, I would like to just drag and drop a folder containing for example an Album to a playlist view. Then, I can just remove the tracks again from the playlist view.
So, basically my library is folder based and not based on id3 tags. I jus

[2017-10-08 13:53] J0Ar commented on #13
Yes, this is a needed feature. I think this has some relation to #6 ... MPRIS support :)

[2017-10-08 16:38] SubhadeepJasu commented on #6
Also showing the album artwork in the sound indicator.

[2017-10-08 16:38] SubhadeepJasu commented on #6
notification for song change in playlist.

[2017-10-08 16:42] SubhadeepJasu opened #19 "An auto timed Now Playing window."
A minimal Now Playing window when the player is not in use for some time but is playing music. Basic controls in the now playing window. And also a Now Playing button or clicking on the song title above should take to the Now Playing screen.

[2017-10-08 18:45] artemanufrij commented on #19
do you mean something like #6 ?

[2017-10-09 17:34] 413Michele opened #21 "If there's a Folder.jpg file in a folder, all the songs in it get that as Album Art"
I have a "Various" folder in which I put a lot of songs from different artists, and when I imported my music in the app they all had the Album Art of a single song.

I found that the Folder.jpg file in that folder was the one of that song and when I removed it (the Folder.jpg file), all the other songs got the right picture.

[2017-10-09 17:56] SubhadeepJasu commented on #19
Nope, its about a dedicated Now Playing screen.

[2017-10-09 17:57] SubhadeepJasu commented on #6
The two issues are different.

[2017-10-09 18:00] SubhadeepJasu opened #22 "Add support for changing song information"
Add support for changing song meta data with or without changing ID3 tags.

[2017-10-09 18:12] SubhadeepJasu commented on #19
A few examples :

![image](https://user-images.githubusercontent.com/20795161/31351996-c0ba5698-ad4a-11e7-9c21-e710c5b84f25.png)
![image](https://user-images.githubusercontent.com/20795161/31352020-d3ad6f60-ad4a-11e7-9d34-4e2340edf839.png)
![image](https://user-images.githubusercontent.com/20795161/31352100-18e6c022-ad4b-11e7-8cd8-d9b78752c2dc.png)
![image](https://user-images.githubusercontent.co

[2017-10-09 18:26] artemanufrij commented on #19
Sound indicator:
![bildschirmfoto von 2017-10-09 20 25 22](https://user-images.githubusercontent.com/16517095/31352706-09a8cf26-ad30-11e7-9396-5cd0dab28822.png)

Desktop notification, if window is inactive:
![unbenannt](https://user-images.githubusercontent.com/16517095/31352165-08afbd66-ad2e-11e7-918c-58a9c9d984db.png)

[2017-10-09 18:27] artemanufrij commented on #6
![bildschirmfoto von 2017-10-09 20 25 22](https://user-images.githubusercontent.com/16517095/31352762-43bd51a0-ad30-11e7-9c34-a63e874e325b.png)

[2017-10-09 18:31] artemanufrij commented on #21
@413Michele thank you for your feedback.

following file names have priority: `'cover.jpg', 'Cover.jpg', 'cover.png', 'Cover.png', 'album.jpg', 'Album.jpg', 'album.png', 'Album.png', 'folder.jpg', 'Folder.jpg', 'folder.png', 'Folder.png', 'front.jpg', 'Front.jpg', 'front.png', 'Front.png'` _(You can see and edit it in dconf)_. The reason is the performance. It's faster to load cover from file inst

[2017-10-09 19:46] SubhadeepJasu commented on #19
A now playing window is different from a sound indicator. Its a different thing. See the above images.

[2017-10-09 19:47] SubhadeepJasu commented on #6
Yeah this thing. Should be good. Nice!

[2017-10-09 21:22] artemanufrij commented on #6
sound indicator was shipped. New release is waiting for testing.

[2017-10-09 21:22] #6 closed

[2017-10-09 21:27] artemanufrij commented on #21
I hope I could help you.

[2017-10-09 21:27] #21 closed

[2017-10-09 22:03] 413Michele commented on #21
I can see your point, those files were probably remnants of Windows Media Player auto download from years ago. Thinking about it, it's really a limit case

[2017-10-09 22:14] artemanufrij commented on #21
@413Michele do you mean only Folder.jpg? What about other file names?

[2017-10-09 22:21] 413Michele commented on #21
@artemanufrij
I'm not sure what you mean, but the Folder.jpg files in my music folders were almost certainly created by WMP, in Windows they are even hidden

[2017-10-09 23:01] artemanufrij commented on #21
If you mean we should remove only folder.jpg so I'm agree either you...

[2017-10-10 15:53] SubhadeepJasu commented on #6
ok

[2017-10-10 19:34] artemanufrij commented on #13
hey @png2378 @J0Ar could you test current master branch please?
![pref](https://user-images.githubusercontent.com/16517095/31406746-c1294b80-ae02-11e7-88b1-e1fd6b2fd9e2.png)

[2017-10-10 19:49] artemanufrij commented on #16
Click into header bar for jumping into curren album:
![header ba](https://user-images.githubusercontent.com/16517095/31407350-ecbe4dde-ae04-11e7-8930-133677e5185c.png)

[2017-10-10 21:40] artemanufrij commented on #14
Hey guys @Djcoper @jtrees , could you test current branch please?

[2017-10-10 22:47] dmanlfc commented on #22
Yes please - ideally ID3 so other software can benefit in the future.
I'd like to be able to right click - 'Update Tag Information' then adjust accordingly.
This should update the back-end database & be reflected in the GUI immediately.
Currently you have to re-scan the library.

[2017-10-10 23:00] Djcoper commented on #14
@artemanufrij  Wow, just wow, I've thoroughly tested the program by clearing and reloading my library multiple times without a single crash! The program is now ignoring damaged files instead of crashing with Segmentation fault. I executed the program in the GNU debugger and all seems bug free on my end "claps"

[2017-10-10 23:01] dmanlfc commented on #16
Hi Artem,

Tested - yes it works for 'Albums' view but not Artists view.
It would be great if the current album/song art was in the header bar also.

Good work on the other stuff!
- Sound Indicator works fine - although I'm not a fan of having to hit the previous track button twice.
-- It's a bit clunky as the indicator size is dynamic - therefore the controller buttons are sometimes positioned di

[2017-10-10 23:15] dmanlfc opened #23 "The ability to add multiple library locations"
It would be good if you could add multiple locations for the library
I separate some of my music in the household for remixes & DJ sets away from the main library for other tools such a Plex.
Having the option to add another library location instead of Change Library would be great!

[2017-10-10 23:16] Djcoper commented on #14
I do wish "Play My Music" notified the user of which damaged files it was ignoring and maybe even offered to move the damaged files to trash like noise does, but that would be feature request because as of now the program is working as it should.

[2017-10-11 06:10] artemanufrij commented on #14
@Djcoper Thank you very much for your feedback! I think we should open a separate issue for "ignoring files"

[2017-10-11 06:13] artemanufrij commented on #16
@dmanlfc on click the bar it jumps to the playing track. If you start it from "Album"-view - it jumps into album. If from "Artist"-View - it jumps into artist.

[2017-10-11 09:21] jtrees commented on #14
Thanks for the new version. However, I am unable to start the app in order to test it. It currently (2f1cafaa2b17baa0fa55cba3825de5e222507e2c) crashes with this error:

[code]

[2017-10-11 10:17] artemanufrij commented on #14
@jtrees as first install it please. I changed gschema.xml file

`sudo make install`

[2017-10-11 10:38] jtrees commented on #14
Ah, that was the problem. Unfortunately the fix doesn't work for me. I still get segmentation faults on importing. Is there any way I can figure out what the problematic files are?

[2017-10-11 12:50] artemanufrij commented on #14
@jtrees It's not a music file issue... it's a problem with multi threading.

[2017-10-11 12:53] jtrees commented on #14
Oooh, that's a tough one. Thanks for your efforts so far and good luck fixing the issue!

[2017-10-11 19:31] artemanufrij commented on #23
Is it important for you that your second library would monitored for new files? If -not- so you can use "Import Music…" for import any libraries.

[2017-10-11 21:23] Djcoper commented on #14
@jtrees Perhaps you can use process of elimination, Maybe you can partially load some bits of your library to determine when the Segmentation fault occurs for you.

[2017-10-11 23:29] dmanlfc commented on #23
Correct - monitored like the primary library.
I use it for all my DJing stuff which is separated so I don't have it showing up on other systems around the house.

[2017-10-11 23:31] dmanlfc commented on #16
Yeah - confirmed.
If possible it would be good that it jumps to the current open view, not necessarily the view you started with?

[2017-10-13 22:49] worldofpeace commented on #13
Hey @artemanufrij  I tested it. Seems to work. :)

[2017-10-13 22:50] worldofpeace opened #26 "Add ability to play music from external device"
Like a cd or ipod.

[2017-10-13 22:51] worldofpeace commented on #26
It would be great to also have down the roadmap the ability to sync external devices to the local library and vice versa.

[2017-10-14 18:47] artemanufrij commented on #13
release is waiting for human testing... [AppCenter]

[2017-10-14 18:47] #13 closed

[2017-10-14 18:50] artemanufrij commented on #7
First version of playlist was shipped.

For other bugs or feature requests open a new issue please.

[2017-10-14 18:50] #7 closed

[2017-10-14 19:00] artemanufrij commented on #16
Maybe it makes sense to implement a feature like:
Go To ->
-> Album
-> Artist

but let open a separate issue.

[2017-10-14 19:00] #16 closed

[2017-10-14 19:02] artemanufrij commented on #19
I don't plan to implement a separate window.

[2017-10-14 19:02] #19 closed

[2017-10-14 23:59] png2378 commented on #13
@artemanufrij works well for me, ty!

[2017-10-15 17:05] artemanufrij commented on #14
hey @jtrees, could you test it again? I could improve some multithreading issues. I hope it fixed the crash you have.

thanks!

[2017-10-16 12:01] jtrees commented on #14
Hell yeah! It works now (387687c90e5adea27a0e4ee2908d3e4f4c6ce186)! Now I can finally give try out this app. :)

Thanks for your persistence on this one.

[2017-10-16 18:28] artemanufrij commented on #14
@Djcoper @jtrees Thank you very much guys!

I shipped already new release. It's waiting for human testing.

[2017-10-16 18:28] #14 closed

[2017-10-17 07:02] cristianmos commented on #3
I have the latest app update. I can play http://stream2.srr.ro:8022, but I can't play http://stream.radiozu.ro:8020 and UI freezes. If I chnage it to http://stream1.radiozu.ro:8020, which is a wrong address, but with a number after "stream", it doesn't play anything, but it doesn't freeze anymore.

[2017-10-17 08:32] artemanufrij commented on #3
@cristianmos Thank you for your feedback. I will test it tonight...

[2017-10-17 19:04] artemanufrij commented on #3
@cristianmos I fixed it. I will shipp new release next days.

[2017-10-19 18:32] ghoppaccia opened #28 "Error opening directory "too many files open""
Program crashes for some reason, getting this message in terminal

** (com.github.artemanufrij.playmymusic:27850): WARNING **: LocalFilesManager.vala:81: Error opening directory '_directory here_' : Too many files open

[2017-10-19 18:35] artemanufrij commented on #28
@ghoppaccia thank you for your feedback.

How many files do you have in your library?

[2017-10-19 18:41] ghoppaccia commented on #28
mmh don't know actually, but a lot. It's a 46.2 Gb Music library

[2017-10-20 19:05] theoriginalbigbaddave opened #29 "Music on GVFS mounted samba share not found"
**What I'm trying to do:**

Set my music folder to a folder on a samba share on my NAS.
Mounted via GVFS using files (under `/run/user/<UID>/gvfs/`).

**Expected result:**

Music files in the target folder are indexed by Music Player.

**What happens:**

No music files are indexed.

**Additional Info:**

There is no output to the terminal when running from there and adding the folder or rescanning

[2017-10-20 20:44] artemanufrij commented on #29
@theoriginalbigbaddave thanks for  feedback. I will check it next days

[2017-10-22 00:20] worldofpeace opened #30 "current master (c27855d) fails to build"
During compilation I get this error:

.../playmymusic/src/Widgets/TrackTimeLine.vala:34.9-34.23: error: The type name `Granite.SeekBar' could not be found
        Granite.SeekBar timeline;
        ^^^^^^^^^^^^^^^
Compilation failed: 1 error(s), 86 warning(s)
src/CMakeFiles/com.github.artemanufrij.playmymusic.dir/build.make:196: recipe for target 'src/com.github.artemanufrij.playmymusic_valac.stamp

[2017-10-22 00:39] artemanufrij commented on #30
@worldofpeace you need last master brunch of Granite. Seek bar will be shipped next days.

[2017-10-22 01:51] worldofpeace commented on #30
Yay new stuff! I'll close this in that case.

[2017-10-22 01:51] #30 closed

[2017-10-22 01:52] worldofpeace commented on #26
This feature has been added.

[2017-10-22 01:52] #26 closed

[2017-10-22 08:51] artemanufrij commented on #28
@ghoppaccia you are welcome. I'm going to check it next days

[2017-10-24 09:56] ayoisaiah opened #31 "Cannot set as default application for Music"
It appears that the app cannot be set at the default Music App at this time. It doesn't show up on the list in the Settings

![image](https://user-images.githubusercontent.com/13372163/31936579-e271ebce-b8a9-11e7-8170-c5d4c50d2c12.png)

[2017-10-25 21:33] ayoisaiah commented on #31
@artemanufrij Well it seems to be a problem on my machine. The option does not appear

[2017-10-25 21:41] artemanufrij commented on #31
@ayoisaiah are you on elementary 0.4.1?

[2017-10-25 21:55] ayoisaiah commented on #31
@artemanufrij Yes, everything up to date

[2017-10-25 22:01] artemanufrij commented on #31
@ayoisaiah what about `right click` on a music file -> `open with` -> `other apps` ->
![bildschirmfoto von 2017-10-25 23 59 42](https://user-images.githubusercontent.com/16517095/32025505-c54ab3ae-b9e0-11e7-808e-8dee5672078b.png)

[2017-10-26 04:59] ayoisaiah commented on #31
@artemanufrij Oh yes it appears on that list, and setting it as default works as expected. But it's still not reflected in the settings

[2017-10-29 12:37] dmanlfc opened #33 "Crashing with Music Import"
The only log information I have is as such...

Track ID: 4866 - Only You
Track ID: 4867 - Out On The Fields
Segmentation fault (core dumped)

[2017-10-29 12:47] artemanufrij commented on #33
Crashes it all the time on same track?

[2017-10-29 13:19] artemanufrij commented on #33
@dmanlfc have you your library local or mounted from like a samba share?

[2017-10-29 13:24] dmanlfc commented on #33
@artemanufrij NFS share off my NAS box.
Just running another import & so far so good.

[2017-10-29 13:25] artemanufrij commented on #33
@dmanlfc thanks for your feedback. I will setup a NFS share on my server. I tested it only with samba yet.

[2017-10-29 13:28] dmanlfc commented on #33
Just crashed again - another random place...

Track ID: 5648 - Blue Ocean Floor
Track ID: 5649 - New Moon (The Meadow)
ARTIST ID: 89ad4ac3-39f7-470e-963a-56509c546377 (Massive R&B - Spring Collection 2008 / Various Artists)
ARTIST ID: 89ad4ac3-39f7-470e-963a-56509c546377 (Now 69 / Various Artists)
Segmentation fault (core dumped)

[2017-10-29 13:29] artemanufrij commented on #33
OK, I have to find out is it a NFS or an otherone issue.

[2017-10-29 13:31] dmanlfc commented on #33
And again now...

ARTIST ID: d87e52c5-bb8d-4da8-b941-9f4928627dc8 (ABBA Gold: Greatest Hits / ABBA)

** (com.github.artemanufrij.playmymusic:2715): WARNING **: MusicBrainzManager.vala:247: Image file '/home/daniel/.cache/1733484816.jpg' contains no data
ARTIST ID: 8ef1df30-ae4f-4dbd-9351-1a32b208a01e (Songs in A Minor / Alicia Keys)
ARTIST ID: 28cbf94d-0700-4095-a188-37e373b069a7 (Kish Kash / Base

[2017-10-29 13:45] artemanufrij commented on #33
@dmanlfc could you test current master branch please?

[2017-10-29 23:09] dmanlfc commented on #33
@artemanufrij - sorry but the same again within 30 seconds

ARTIST ID: d87e52c5-bb8d-4da8-b941-9f4928627dc8 (ABBA Gold: Greatest Hits / ABBA)
ARTIST ID: 8ef1df30-ae4f-4dbd-9351-1a32b208a01e (Songs in A Minor / Alicia Keys)
ARTIST ID: a874bf2c-8697-417e-b9e3-2f93c7ca9000 (2004 Mixes / DJ Marathon Man)
ARTIST ID: a874bf2c-8697-417e-b9e3-2f93c7ca9000 (Marathon Man 2015 Mixes / DJ Marathon Man)
ARTIST

[2017-10-29 23:38] artemanufrij commented on #33
@dmanlfc and now?

[2017-10-29 23:45] dmanlfc commented on #33
@artemanufrij nope :-(

Album ID: 422
Track ID: 7577 - Tell Me
ARTIST ID: 1a989060-1abb-4e08-a1f2-20179c6f7315 (Box O' Bangers 2016 / Dj Marathon Man)
Track ID: 7578 - I'm Gonna Be (500 Miles)
ARTIST ID: 2c4dae8c-e591-49e0-9c5a-62b310a15788 (Rockferry / Duffy)
Track ID: 7579 - Moving On Up
ARTIST ID: 4a5777b3-f55b-437c-8b23-d9ee7791c7fc (Desireless / Eagle-Eye Cherry)
ARTIST ID: c3009d7a-51ac-4c9c

[2017-10-29 23:46] artemanufrij commented on #33
@dmanlfc you pulled now version?

[2017-10-29 23:46] dmanlfc commented on #33
@artemanufrij yes I just rebuilt it

[2017-10-29 23:48] artemanufrij commented on #33
fuck, I can't reproduce it.... I tryed it >10 times without problems and I have > 5500 files in my library...

[2017-10-29 23:51] artemanufrij commented on #33
I will setup a NFS network tomorrow...

[2017-10-29 23:53] dmanlfc commented on #33
Sorry :-) Older builds worked fine. We need to find the trigger - either my files or a lookup DB import bug.
Some artists in my library won't be on MusicBrainz as they're mine or my sons music.

[2017-10-29 23:54] artemanufrij commented on #33
May be MusicBrainz interface is the reason...

[2017-10-29 23:57] dmanlfc commented on #33
Dunno - maybe throw some extra logging in there?
I will try another laptop or two also with the new build at some point today - same library

[2017-10-29 23:58] artemanufrij commented on #33
@dmanlfc It would be very helpful!!! Thank you!

[2017-10-30 10:26] artemanufrij commented on #33
Hey @dmanlfc,

I tested it over NFS. It works also without problems on my system. :confused:

New master branch has a new option for enable/disable musicbrainz requests. Could you test it please? But you should install new version on your system `sudo make install` because I added a new property into schema.

1. disable all switsches
2. restart application
3. rescan library

![bildschirmfoto von 2

[2017-10-30 11:52] artemanufrij commented on #33
@dmanlfc
What I found out:

**Samba**:
Connected via `LAN`: works
Connected via `WiFi`: works

**NFS**:
Connected via `LAN`: works (ot: much faster as Samba)
Connected voa `WiFi`: crashes each ~ 30 seconds

[2017-10-30 11:57] dmanlfc commented on #33
@artemanufrij - Confirmed WiFi here also - extremely weird.

[2017-10-30 12:09] artemanufrij commented on #33
@dmanlfc I don't have an idea how it can be fixed. :confused:

[2017-10-30 12:25] artemanufrij commented on #33
@dmanlfc so now it works here... could you verify it please?

[2017-10-30 12:37] dmanlfc commented on #33
@artemanufrij - yes just testing now. WiFi seems terrible but LAN provides stability.
I reset the views and I'm currently importing the Library again. Fine on Gigabit :-)

[2017-10-30 12:39] artemanufrij commented on #33
pull last master... I fixed it on WiFi

[2017-10-30 13:32] dmanlfc commented on #33
@artemanufrij - it's certainly better but it did crash a few times. Although not as often as before.
Off to bed here but certainly a bit more robust.
LAN - no issues at all.

[2017-10-30 13:43] artemanufrij commented on #33
Thank you for your support!

[2017-10-31 12:10] artemanufrij commented on #33
@dmanlfc I can't reproduce this bug any more. I tested it on three systems more than 20 times. Can we close this issue?

[2017-11-01 00:35] dmanlfc commented on #33
@artemanufrij currently all three laptops still crash over WiFi here. Even with MusicBrainz turned off.
One Laptop has the current App Centre build (not depicted below).
I never had the problem with older builds from memory. Maybe the problem manifested around the 0.1.6 build...

Example of Artist fetching on & off with git build...

daniel@daniel-Latitude-E4310:~$ com.github.artemanufrij.playmymu

[2017-11-01 01:13] dmanlfc commented on #33
@artemanufrij Here on Gigabit Ethernet (logs below) - everything runs fine & fast.
Note: The parallel track imports due to speed & obviously multi threaded fetching.
With WiFi this is always a serial track import. Do you think something may be timing out?
Are the tracks read into a memory buffer & flushing too quickly? (clutching at straws here now :-))

Track ID: 8541 - If You Leave Me Now
Track

[2017-11-01 01:43] dmanlfc opened #34 "Artist image fetching not always successful"
@artemanufrij I have noticed well known artist images are not always downloaded for the Artist view.
i.e. Some quick examples... AC/DC, Alicia Keys

AC/DC - https://musicbrainz.org/artist/66c662b6-6e2f-4930-8610-912e24c63ed1
Image link -
 https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/ACDC_In_Tacoma_2009.jpg/250px-ACDC_In_Tacoma_2009.jpg

Alicia Keys - https://musicbrainz.org/artist/8ef

[2017-11-01 01:45] dmanlfc commented on #34
Note: If I manually grab the image & update using the GUI it works and those ARTIST ID's are ignored on the next start.

[2017-11-01 02:09] dmanlfc opened #35 "Capabilities request: Dynamically update Tag info to DB"
Hi @artemanufrij

I've noticed some inconsistencies with song tagging in my Library which I'm slowly tidying up.
i.e. Lady GaGa vs Lady Gaga or Guns 'N' Roses vs Guns N' Roses.
(Don't judge me, this is a shared Music library unfortunately :-) )

If you change / fix some tags (i.e. using MusicBrainz Picard) after the initial DB import the old tags are still shown in PlayMyMusic.
It would be great i

[2017-11-01 09:13] jtrees opened #36 "Integrate with Last.fm"
There is already a section in System Settings --> Online Accounts for Last.fm. It would be great if you could hook into that to scrobble whatever is playing to Last.fm.

[2017-11-01 14:02] artemanufrij commented on #35
In case of " Lady GaGa vs Lady Gaga": I could ignore lower and upper cases for checking artist name. It would be easy to fix.

[2017-11-01 14:26] artemanufrij commented on #33
@dmanlfc crashes it on track id ca. > 6000?

[2017-11-01 19:23] artemanufrij commented on #34
@dmanlfc test it again with master branch please. I improved fetching images from wikipedia.

[2017-11-02 00:25] dmanlfc commented on #34
@artemanufrij OK will test tonight - thanks!

[2017-11-02 00:34] dmanlfc commented on #33
@artemanufrij over > 2-3000 I see it manifest. It does get worse > 6000 for sure.
I will test the new the latest build with the disposal code later tonight :-)

[2017-11-02 00:54] dmanlfc commented on #35
@artemanufrij that won't fix the ability to update the DB.
I had a quick look through the code. The 'Rescan Library' option is misleading.
- Rescan should do exactly that & not drop the DB but you actually 'Reset it'
- Currently it resets the view & DB via reset_all_views (); & db_manager.reset_database ();

Ideally those calls should be avoided & then we probably need some methods to 'update' & '

[2017-11-02 07:47] artemanufrij commented on #35
An option like `Sync`? No problem...

[2017-11-02 10:55] dmanlfc commented on #34
@artemanufrij OK a bit better but still missing covers for well known Artists such as:

AC/DC, Blur, Chris Brown, De La Soul, Eagle-Eye Cherry, George Thorogood & The Destroyers :-)

Also if the Artist name is 'Various Artist' you shouldn't do a look-up.
Currently when importing the Library etc the MusicBrainz is in a constant cycle looking for Various Artists.
I have a lot of Compilation Albums w

[2017-11-02 11:00] dmanlfc commented on #33
OK latest build is MUCH better!
It only crashed twice in over 8,500 songs! :+1:

[2017-11-02 11:56] dmanlfc commented on #35
Sync, Re-Sync, Refresh - just not Reset :-)

[2017-11-02 17:31] artemanufrij commented on #34
**Eagle-Eye Cherry** hasn't an image on wikipedia https://en.wikipedia.org/wiki/Eagle-Eye_Cherry
**De La Soul** and **George Thorogood & The Destroyers** haven't a relationship to wikipedia or other images
AD/DC should work... :confused: I will test it...

[2017-11-02 17:54] artemanufrij commented on #34
it's already posible: just an image named ['artist.jpg', 'Artist.jpg', 'artist.png', 'Artist.png', 'interpreter.jpg', 'Interpreter.jpg', 'interpreter.png', 'Interpreter.png', 'band.jpg', 'Band.jpg', 'band.png', 'Band.png']

[2017-11-02 17:58] artemanufrij commented on #34
Excluded 'Various Artist'

[2017-11-02 19:09] artemanufrij commented on #33
@dmanlfc I found some file objects. I added a .dispose ().  Could you test it again please?

[2017-11-04 18:36] artemanufrij commented on #28
@ghoppaccia could you test it with last release please?

[2017-11-05 09:36] cristianmos commented on #3
@artemanufrij It works fine now. Thanks!

[2017-11-05 11:06] artemanufrij commented on #3
@cristianmos you are welcome

[2017-11-05 15:51] arshubham opened #37 "Not Showing all songs in Album View"
Steps to Reproduce:
1. Copy Songs to ~/Music/Folder/
2. Start Music Player
3. Applications Scans for Music
![screenshot from 2017-11-05 21 10 07](https://user-images.githubusercontent.com/14235191/32416414-b11eb51a-c26e-11e7-838e-23a82bca76fa.png)
4. Only 2 Songs out of 4 are shown.
![screenshot from 2017-11-05 21 10 19](https://user-images.githubusercontent.com/14235191/32416422-cf7f6fcc-c26e-11e

[2017-11-05 15:55] arshubham opened #38 "[Feature Request] Double click currently playing song to replay the song from begining."

[2017-11-05 18:24] artemanufrij commented on #37
@arshubham is your directory mounted or not? are they .mp3 files?

[2017-11-05 18:57] arshubham commented on #37
@artemanufrij The music is in the default Music folder and all the files are .m4a. If needed I can provide the files too.

[2017-11-05 18:57] artemanufrij commented on #37
@arshubham I found the bug... give me 10 minutes :smile:

[2017-11-05 19:15] artemanufrij commented on #37
@arshubham could you check it again please? (current master branch)

[2017-11-05 19:24] arshubham commented on #37
@artemanufrij Works as Expected. Thanks.

[2017-11-05 19:48] artemanufrij commented on #37
@arshubham thank you for your support!

[2017-11-05 19:48] #37 closed

[2017-11-06 01:09] dmanlfc commented on #33
@artemanufrij sorry still a problem :-(
Crashed at track 2901 & then again at 3188...

[2017-11-06 07:25] dmanlfc commented on #34
In TagManager.vala we should grab the Artist name from the Artist tag field first rather than the Album Artist field.

This allows Albums with 'Various Artists' to show independently under the Artists view.
Therefore you can see under the Artists view a true reflection of all the songs across all of the Library albums etc.

                        // ARTIST REGION
                        var artis

[2017-11-06 07:40] dmanlfc commented on #34
Also what about using Last.fm for grabbing the artist artwork as a primary method or fallback?
https://www.last.fm/api/show/artist.getInfo

[2017-11-06 15:39] arshubham opened #39 "Ability to Select Multiple Songs at once."
Add ability to select multiple songs at once to:
1. Add them into a playlist (bust Artist and Album View).
2. Remove Songs when in playlist view.

[2017-11-06 15:48] arshubham opened #40 "Add Distraction free listening mode"
Add a Distraction free listening mode with high quality full screen Artist wallpaper as a background. and On Screen controls with song and artist name on hover. I think I remember this feature from default music app from Windows 8.

[2017-11-06 15:55] arshubham opened #41 "Add ability to share what is currently playing."
I envision this something along the line of how app center allows to share an application. Same can be done for a song but with the ability to edit tweet or post and automatic linking with the link from msicbrainz/spotify to identify and play the song on non eOS device.

Hint can be taken from how Spotify handles this

[2017-11-07 15:59] ghoppaccia commented on #28
Tried yesterday and at first it was working, then after a while, while it was still adding music files, I got a segmentation fault.
Don't know if i did something else that might have conflicted, but I'll try again today and see what happens.
Thanks!

[2017-11-07 16:05] ghoppaccia commented on #28
That's funny, now first time opened it crashed with this error:
(com.github.artemanufrij.playmymusic:4711): GLib-ERROR **: Creating pipes for GWakeup: Too many files open

Trace/breakpoint trap (core dumped).

Then tried again and got once again the "Segmentation error (core dumped)"

And now, third time opened seems to be working, still adding music to library.

[2017-11-07 17:59] artemanufrij commented on #28
how much file were imported before it crached?

[2017-11-07 18:02] ghoppaccia commented on #28
Mhhh I'm not sure about that unfortunately. I remember a number around 6.500, but that was the number on the side of the filenames in terminal, I'm not sure if it refers to the total of files in the library or if it's juste the ones imported in that "session" of the app.

[2017-11-07 18:03] artemanufrij commented on #28
yes, I mean the ID....

how is it mounted? Samba or NFS?

[2017-11-07 18:29] ghoppaccia commented on #28
Just a normal folder, I only have my /home on a separate partition (in the same HDD)

[2017-11-08 22:26] worldofpeace opened #43 "Radio and Playlist views are confusing."
The words "Get Some Tunes" meaning gets confused when used this often.
You really only should "Get Some Tunes" when you first start the app.
In the playlist view I doesn't even say anything about adding music below it.
It reads as "for manage your favorite songs".
![image](https://user-images.githubusercontent.com/28888242/32577921-65d8a3c6-c4a9-11e7-9ba2-96946a890c09.png)
In the radio station vie

[2017-11-08 22:29] worldofpeace commented on #43
Perhaps in the playlist view it says "No Playlists"

[2017-11-13 01:38] yeboahnanaosei opened #44 "Song list view"
Can we have a song list view? Sometimes I want to see a list of all the songs I have in either ascending or descending alphabetical order. I can't seem to do that

[2017-11-13 01:41] yeboahnanaosei opened #45 "Repeat current song"
I think it will be nice to set repeat to play the current track. At the moment to repeat just one track I need to create a playlist of just that song, which I think is too much work.

[2017-11-15 18:01] Pashaonesided opened #46 "Will there be Russian language? + question for dark theme!"
I'd love to see the Russian language!
And there is a problem with the dark theme EOS,the player understands it and converts the colors are not right. (White background ,white fonts, etc.)
Thanks for the cool software for EOS!

[2017-11-15 18:11] artemanufrij commented on #46
@Pashaonesided you can translit it in russian :smile:

you can use http://poedit.net/ for translating it.

[2017-11-16 06:38] SubhadeepJasu commented on #44
We need a song list view, its one of the basic views but one of the most useful too. I would like to play all the songs in my library with a click of the play button, or directly go to the song and play it and make it play all the songs in the library. The now playing window I talked about in an earlier version acts as a playlist view too in most music players. It make viewing and managing playlis

[2017-11-17 17:22] BharatKalluri opened #47 "Sort Albums by album name only"
Awesome app, thanks for putting your effort into this! I am sorry if I am missing anything, but it the default album view sorts according to album_name/artist_name. It would be great it just sorts with the album name.

The reason I ask this is pretty simple. Suppose I download suicide squad Soundtrack. The app makes around 10 copies of suicide squad since all the songs sung in the movie are by dif

[2017-11-17 17:38] popvladaurel opened #48 "Song titles color with elementary dark"
When using the elementary dark theme, song titles are unreadable in Artists View.
![screenshot from 2017-11-17 19 37 28](https://user-images.githubusercontent.com/23455688/32960753-c9a9ebc2-cbce-11e7-9539-d61f12062157.png)

[2017-11-17 17:50] artemanufrij commented on #47
@BharatKalluri thank you for your feedback.

the problem is: if you have two albums with same title by two different artists in your lilbrary the app would show both albums like one album. I don't have a really clear solution for this issue and I don't know a music player with a good solution for collections.

In this case I use puddletag for fixing "ALBUM_ARTIST" tag in all music files of a colle

[2017-11-17 18:20] BharatKalluri commented on #47
@artemanufrij , thanks for the fast reply. Clementine has a sort option which only sorts according to album name. And does not even consider artist name.
Anyways, thanks for the info. Please keep up the good work. If you feel this issue cannot be addressed,  Feel free to close this. I will give it a shot when I am free :)

[2017-11-17 18:22] artemanufrij commented on #47
let me test clementine...

[2017-11-17 18:37] #48 closed

[2017-11-17 18:37] artemanufrij commented on #48
Fixed:
![bildschirmfoto von 2017-11-17 19 33 00](https://user-images.githubusercontent.com/16517095/32962980-c0087c28-cbce-11e7-8f21-d405c7aa1a14.png)

[2017-11-18 10:38] artemanufrij commented on #45
@yeboahnanaosei  could you test current master branch please?

![bildschirmfoto von 2017-11-18 11 34 19](https://user-images.githubusercontent.com/16517095/32979385-8da7c5b4-cc54-11e7-908f-152d33df51b9.png)

[2017-11-18 10:44] artemanufrij commented on #43
@worldofpeace Better?

![bildschirmfoto von 2017-11-18 11 43 36](https://user-images.githubusercontent.com/16517095/32979452-c340dcf0-cc55-11e7-8eec-e0fa71a90f4e.png)
![bildschirmfoto von 2017-11-18 11 43 25](https://user-images.githubusercontent.com/16517095/32979453-c388a170-cc55-11e7-93d1-7c004ef9821b.png)

[2017-11-18 12:31] yeboahnanaosei commented on #45
Can I test it by installing it from the AppCenter or I need to clone the repository and install?

[2017-11-18 12:35] artemanufrij commented on #45
@yeboahnanaosei

clone and install (impotant) ... after your test I will push it into appcenter

[2017-11-18 12:38] yeboahnanaosei commented on #45
Ok. I'm installing the elementary-sdk but there seems to be an issue. I will let you know the moment I've installed and tested it

[2017-11-18 12:58] yeboahnanaosei commented on #45
Tested and it works so far! :+1:

[2017-11-18 13:05] artemanufrij commented on #45
@yeboahnanaosei thank you!

[2017-11-18 13:05] #45 closed

[2017-11-18 13:09] yeboahnanaosei commented on #45
One last thing. How do I uninstall

[2017-11-18 14:22] worldofpeace commented on #43
@artemanufrij Yes! :)
I was just about to make a pr. Then I saw this.

[2017-11-18 14:32] worldofpeace commented on #43
Fixed on master from these commits: https://github.com/artemanufrij/playmymusic/commit/9e3a7d6628712d8176f511eac4f170e2ce911d4c#diff-69b0fbd71b603795ea4c46ff5059658f https://github.com/artemanufrij/playmymusic/commit/9e3a7d6628712d8176f511eac4f170e2ce911d4c#diff-e98682039ded6cec91f3840778ca65ef

[2017-11-18 14:32] #43 closed

[2017-11-18 14:45] worldofpeace commented on #44
That sounds like shuffle.

The default music app has features like this. It makes a queue playlist and a music history playlist if I'm not mistaken.

[2017-11-18 19:43] artemanufrij commented on #29
@theoriginalbigbaddave could you test current master branch please? I moved from `path` to `uri`. now it should work.

[2017-11-18 21:41] varlesh opened #50 "[Enhancement] Artist image and artist info from WEB"
Will be cool use Artist image and info from any music service (MusicBrainz, Wikimedia, LastFM, etc)...
Example mockup:
![2017-11-19 01 25 44](https://user-images.githubusercontent.com/8083855/32985027-623458d6-ccca-11e7-8721-4a95cf41c6f2.png)
Artist info with scrolled widget - it's very good for long text.

[2017-11-18 21:49] artemanufrij commented on #50
for artist image you can enable it here.
![bildschirmfoto von 2017-11-18 22 48 08](https://user-images.githubusercontent.com/16517095/32985088-9b5abeba-ccb2-11e7-9d6c-cbf4322dffa9.png)

or you can put a image into you folder named: `aritst.jpg`

[2017-11-18 22:00] varlesh commented on #50
Enabled, but not worked.
On LOG i see this:
[code]

Very good... But think about get  info from any web service (if possible)... It's good looking

[2017-11-18 22:04] artemanufrij commented on #50
it a ID3 warning. it will be fired if ID3 tag can't be read from a music file.

[2017-11-18 22:06] artemanufrij commented on #50
@varlesh could you check if artists you have exists on MusicBrainz...

[2017-11-18 22:14] varlesh commented on #50
Thirty Seconds to Mars > https://musicbrainz.org/artist/d8354b38-e942-4c89-ba93-29323432abc3
![2017-11-19 02-11-35](https://user-images.githubusercontent.com/8083855/32985209-01e51f60-cccf-11e7-9949-1065e8b066e5.png)
mediainfo example:
[code]

[2017-11-18 22:21] artemanufrij commented on #50
but not `Greatest Hits (CD1)` if you put an album in your Library it will work. Artist + Album is unique

[2017-11-18 22:30] varlesh commented on #50
@artemanufrij You right, worked :+1:
Please think about artist info

[2017-11-19 10:37] #46 closed

[2017-11-19 11:14] theoriginalbigbaddave commented on #29
No joy with building from master, same behaviour as previously.

No warnings / errors posted to terminal when adding the the root of my music collection as the library folder, no files indexed.

However if I set a folder that contains music files (as opposed to subfolders of music files) as the library path, the following warnings are generated;

[code]

the same number of warnings are generated a

[2017-11-19 11:15] theoriginalbigbaddave commented on #29
Oops.

[2017-11-19 11:44] SubhadeepJasu commented on #44
Shuffle in media players is only meant to play songs in the current playlist in random order. The shuffle button in most media players only determines whether too play the songs randomly or in the order they have been added.

Not only the default music app but almost every popular media player maintains a temporary now play list.

To make things simple you may not have to make a separate song list

[2017-11-19 12:02] SubhadeepJasu commented on #44
The now playing window I talked about is the same thing as #40 (only that he is suggesting an ability to go full-screen). The ability to add songs to "now playing" list is kind of the same as #39 . Also the ability to hit the play button (when the now playing list is empty) and this will add all the songs to now playing list and automatically start playing them is similar to the one in the picture

[2017-11-19 12:50] worldofpeace commented on #44
@SubhadeepJasu I appreciate your efforts to communicate your point. I would like to point out that I can be hard for a dev to get to every feature request that you want. Keep in mind that they have their own vision in mind as well.

If you want a dev to add a feature think in small manageable pieces that they can work on for now, keeping in mind the larger feature you would like them to create.

I

[2017-11-19 15:44] SubhadeepJasu commented on #44
No hurries. Its okay. I am not gonna say like "Hey I want it done NOW" cause I am a dev too. I understand what it takes to build features in to apps. What I explained in the previous comments was how it could be implemented in a way if it was implemented. So I would suggest you take it easy. There are no deadlines. And if you have a vision which is better than the one I said you, I would be more t

[2017-11-19 17:53] SubhadeepJasu commented on #44
@worldofpeace You guys are in fact doing just what I wanted. I just saw the front page. That
![image](https://user-images.githubusercontent.com/20795161/32993577-43aa691c-cd80-11e7-98b2-422fcd69bd59.png)
is exactly what I was talking about. Thanks a lot dudes. As I told you, if you do it any time, I would be more than happy and I mean it.

[2017-11-24 16:43] artemanufrij commented on #28
@ghoppaccia can you reproduce this issue with current version?

[2017-11-27 17:48] theoriginalbigbaddave commented on #29
Built from master again today, its fixed nice one.

[2017-11-27 18:54] artemanufrij commented on #29
@theoriginalbigbaddave thank you for feedback. I'm going to close this issue.

[2017-11-27 18:54] #29 closed

[2017-11-30 04:57] Zachs-Kappler opened #54 "Can't handle hashtags in folder and filenames, possibly also can't handle large music libraries"
Terminal Output:
[code]

The folder's names are `30 #1 Hits (Google Play Bonus Track Version)` and `Kill Club #003`.

An address boundary error segfault occurs shortly after, either because of bad handling of special characters or because at this point it has discovered around 5000+ songs.

[2017-11-30 07:31] artemanufrij commented on #54
hey @Zachs-Kappler, thank you for your feedback... I will try to fix it tonight.

[2017-12-01 21:04] artemanufrij commented on #54
@Zachs-Kappler could you test current master branch please?

[2017-12-02 15:25] derekstavis opened #55 "Flatpak build"
Heya!!

Looks like this music player rocks!! I have tried building myself with vanilla GNOME on Arch Linux, but despite from having all dependencies installed I couldn't achieve a build.

Thinking about this, it would be nice to have this music player distributed as a flatpak, so other distros could also enjoy it 👍

[2017-12-02 20:24] artemanufrij commented on #34
hey @dmanlfc I bought an AC/DC album yesterday for testing this issue. I could fix it. Could you test current master branch please?

[2017-12-04 03:43] Zachs-Kappler commented on #54
Okay, as of the newest version I'm not getting errors for those two folders, it added three albums, but it is still closing out during the initial library import with the same address boundary error.

Any idea what I could do to help narrow down what is wrong?

[2017-12-04 22:24] artemanufrij commented on #35
@dmanlfc I changed it. Now it will resync library. It means: add new music files into library and remove all non exists items from library. could you test it?

[2017-12-04 23:44] dmanlfc commented on #35
@artemanufrij unfortunately it crashes...

** (com.github.artemanufrij.playmymusic:11744): WARNING **: TagManager.vala:63: DISCOVER ERROR: '3' Resource not found. GST_DISCOVERER_ERROR
(file:///home/dman/Music/Destinys Child - #1's/03 - Survivor.mp3)

** (com.github.artemanufrij.playmymusic:11744): WARNING **: TagManager.vala:63: DISCOVER ERROR: '3' Resource not found. GST_DISCOVERER_ERROR
(file://

[2017-12-05 00:00] dmanlfc commented on #34
@artemanufrij yes AC/DC is fixed but there are many popular Artists without thumbnails.

As per above there are two issues:

1. If there is no artist artwork with your default scraping method there is not another fallback method.
- Hence suggesting to look at the Last.fm methods as they're more robust & populated with more artwork

2. The Artists view is based off the 'Album Artist' tag & therefor

[2017-12-05 19:42] artemanufrij commented on #54
@Zachs-Kappler  I need some informations:
* is your library mounted?
if yes: SMB/NFS/etc?

when crashes is? after how many files?

the problem is that I can't reproduce it on my system. I have > 6500 music files. I tested it with local files, smb-mounted, nfs-mounted.... And it works...

[2017-12-06 03:44] Zachs-Kappler commented on #54
The folder it is searching through is a local Music folder in my home folder. My home folder is on a healthy drive. All of the files are either flac, ogg, or a plethora of chiptune formats that should be ignored.

Right now, it is acting differently. Originally, it crashed after finding one song in three albums and subsequent launches added nothing else. After trying to get it to stop scanning on

[2017-12-06 07:03] #54 closed

[2017-12-28 18:55] J0Ar opened #58 "Get song name from internet radio stream"
Hey Artem :)
Is it possible to get the song name of the current played song in the header bar of Music Player and also in wingpanel-indicator-sound? At the moment it just shows the name of the radio station.

THX JAr :)

_by the way...i paypal'd you because of all your apps ;)_

[2017-12-28 20:30] artemanufrij commented on #58
@J0Ar Thank you for your Feedback and for your Support... :smile:

I will check it it's possible to grab the song name...

[2017-12-31 14:55] artemanufrij commented on #58
@J0Ar It works, but could't grab the information in all radio stations I use.
![bildschirmfoto von 2017-12-31 15 44 53](https://user-images.githubusercontent.com/16517095/34462368-c0daad10-ee42-11e7-901b-fe60b3e368ef.png)

[2017-12-31 15:10] artemanufrij commented on #58
fixed in #6f5d775

[2017-12-31 15:11] #58 closed

[2018-01-15 21:41] bil-elmoussaoui commented on #55
Hey,
You couldn't achieve a successfully build because the applications depend on cmake-elementary. The application should really add those directly to the source code instead :( or move to using meson.

Anyway, there should be a Flatpak package pretty soon! stay tund :+1:

[2018-01-15 22:05] bil-elmoussaoui commented on #55
@artemanufrij I was able to successfully build a flatpak package see
https://github.com/flathub/flathub/pull/229
There are few small issues that should be fixed in the next release of your application so my PR can be merged upstream
1 - The appdata is not valid. You can run `appstream-util validate myappdatafile.appdata.xml` and you will get the list of the issues that should be fixed
2 - The head

[2018-01-15 22:11] artemanufrij commented on #55
@bil-elmoussaoui thank you for your feedback. I will check it tomorrow

[2018-01-15 22:14] bil-elmoussaoui commented on #55
And yes, please include the cmake files that I have added in my PR https://github.com/flathub/flathub/pull/229/files to a cmake folder and apply the cmake.patch :)
This will avoid us both unneeded work! Or just try meson and never go back to the hell of cmake :p

[2018-01-16 10:52] dmanlfc commented on #34
Artist artwok is incorrect - see screenshot

![screenshot from 2018-01-16 20-48-00](https://user-images.githubusercontent.com/32564392/34985188-fe5f1568-fafe-11e7-9a97-4d48ee888a3f.png)

[2018-01-17 21:30] reya276 opened #61 "Integrate with Google Play Music"
How can I integrate Google Music?

[2018-01-17 21:36] artemanufrij commented on #61
I guess an official API doesn't exist

[2018-01-17 21:48] reya276 commented on #61
Yes it does, look here: [https://unofficial-google-music-api.readthedocs.io/en/latest/](https://unofficial-google-music-api.readthedocs.io/en/latest/)

[2018-01-17 22:03] aleksandar-stefanovic commented on #61
@reya276

The link literally says "unofficial", lol.

[2018-01-17 22:35] reya276 commented on #61
the nodeJS one could work.

[2018-01-22 16:22] artemanufrij commented on #35
fixed crash on url's with a #

[2018-01-22 16:22] #35 closed

[2018-01-22 16:24] artemanufrij commented on #28
I'm going to close it. I can't reproduce it anymore.

[2018-01-22 16:24] #28 closed

[2018-01-22 16:28] artemanufrij commented on #22
currently you can change Album information [F2] or Artist information [F2]. If you activate "Save changes into ID3-Tag" so player does it.

https://plus.google.com/101587650787796657209/posts/YRFBd88xwu8

[2018-01-24 04:03] SubhadeepJasu commented on #22
Yep :) Thanks. This issue has been solved.

[2018-01-24 04:04] #22 closed

[2018-01-28 15:56] trampover opened #62 "zh_CN.po"
msgid ""
msgstr ""
"Report-Msgid-Bugs-To: \n"
"POT-Creation-Date: 2017-11-26 17:36+0100\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Project-Id-Version: \n"
"PO-Revision-Date: \n"
"Language-Team: \n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Poedit 2.0.4\n"
"Last-Translator: 金立龙 <trampover@gmail.com>\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"Language: zh_CN\n"

#

[2018-01-28 16:40] artemanufrij commented on #62
@trampover thanks for your support! could you upload translation like a file (.zip or so)?

[2018-01-29 15:41] trampover commented on #62
[com.github.artemanufrij.playmymusic.zip](https://github.com/artemanufrij/playmymusic/files/1674148/com.github.artemanufrij.playmymusic.zip)

[2018-01-29 18:05] artemanufrij commented on #62
@trampover thank you for your support. I've already pushed a new release!

[2018-01-29 18:05] #62 closed

[2018-01-30 08:21] jtrees opened #64 "Icon is blurry in AppCenter"
In AppCenter the icon is blurry because a 128x128 version is missing.

![screenshot](https://preview.ibb.co/bJQiW6/Screenshot_from_2018_01_30_09_15_35.png)

[2018-01-31 20:20] LunkRat opened #65 "[Enhancement] Integrate control of media in Plank icon secondary click"
For example a right-click on the Plank launcher for [Lollypop](https://wiki.gnome.org/action/show/Lollypop) shows media controls:

![Lollypop plank media controls](https://user-images.githubusercontent.com/1657096/35645436-69b26c5a-0691-11e8-9d33-005b57480760.png)

Would be a nice addition for richer elementaryOS integration.

I love your player.

[2018-01-31 21:24] artemanufrij commented on #65
@LunkRat cool idea! Will implement it next weekend :+1:

[2018-02-02 23:57] artemanufrij commented on #65
@LunkRat could you test current master branch please?

![bildschirmfoto von 2018-02-03 00 56 09](https://user-images.githubusercontent.com/16517095/35759936-1c530aa8-087d-11e8-9ef8-b98013a2d48c.png)

[2018-02-03 22:44] artemanufrij commented on #65
media keys were released…

[2018-02-03 22:44] #65 closed

[2018-02-04 17:28] LunkRat commented on #65
I tested and it works perfectly. Very nice enhancement. Thank you @artemanufrij for the quick commits!

[2018-02-04 17:28] artemanufrij commented on #65
@LunkRat you are welcome :smile:

[2018-02-05 00:18] malpaw commented on #23
Alternatively, one could just use symbolic links to group all locations in one directory. @dmanlfc, would this serve as a workaround for you?
The thing is, in my case the crawler does not always follow such links, possibly due to the fact some of them are network shares?

[2018-02-05 19:34] malpaw commented on #23
It is, hovewer it seems the crawler ignores network shares as the only implementation I found is named `LocalFilesManager`:

`lf_manager = PlayMyMusic.Services.LocalFilesManager.instance;`

If so, the workaround I proposed would not always help.

[2018-02-05 19:49] artemanufrij commented on #23
how did you linked your network share?

[2018-02-05 20:04] artemanufrij commented on #50
I'm going to close this issue "Artist Info" should be tracked in a separate issue...

[2018-02-05 20:04] #50 closed

[2018-02-05 20:27] malpaw commented on #23
`ln -s /media/share-mounted-by-file-manager /home/user/Music/here`

[2018-02-05 20:28] artemanufrij commented on #23
thanks. I will test it.

[2018-02-05 20:36] artemanufrij commented on #23
Network shares are available over gvsf like (smb://bulldozer/scanner/) on my system. Just remoteable devices are mounted on /media/user/device. :confused:

[2018-02-05 22:15] malpaw commented on #23
I checked again and it doesn't work even for symbolic links to a local filesystem, logging one warning for each such links:
`** (com.github.artemanufrij.playmymusic:21221): WARNING **: LocalFilesManager.vala:85: Operation is not supported`

Sorry for spamming this issue, it looks like a separate one.

[2018-02-05 22:19] artemanufrij commented on #23
No worries 😄 . It helps me to improve the app 👍

[2018-02-09 01:52] yeboahnanaosei commented on #44
But @artemanufrij  are you not going to say anything about this? I don't know but this is such a basic feature in music players. At least say something. It's unfortunate but I've had to uninstall this app (I don't mean to discredit all your effort). I just find it very frustrating that I can't view all my songs in one list.

Just say something. Is it that you find it difficult? or you just don't h

[2018-02-09 08:17] artemanufrij commented on #44
hey @yeboahnanaosei didn't got a lot of feedback for a list view. No, it's not difficult to implement it. I will check this feature after I have finished "external device support" for https://github.com/artemanufrij/showmypictures

[2018-02-09 21:19] yeboahnanaosei commented on #44
You finally responded. Thank you. I don't really understand why you need a "lot of feedback" to implement such a basic feature in music players. Forgive me if I don't sound polite. I'm just surprised.

elementary's music player, Noise, shows you all the songs in your library the moment you load them. With VLC you see a list of all the songs in the playlist by default you can later change it to whi

[2018-02-09 21:26] artemanufrij commented on #44
@yeboahnanaosei if I'm honest with you, I never used the list view in all the player I ever used. My focus was a clean album view and online radio stuff.

[2018-02-09 21:45] yeboahnanaosei commented on #44
That's fine but @artemanufrij just try out about 10 music players and I can bet you that 90% of them will present you with a list of all songs by default instead of an album view.

Sincerely, it's not about your preference as a developer. It's all about the user. And trust me we've come to expect music players to show a list of all songs by default. You may have your preference but software has to

[2018-02-09 22:39] pookito opened #66 "Playmumusic keeps on Crashing."
I amusing Elementary OS Loki, and I decided to purchase the software, since I did not like the default music app that Elementarry comes with. Sadly, it's been a week and I am not able to use it 👎 😿 .  I tried to read other post and decided to run it in a terminal and the following happened before it crashed. It read a few albums and then segmentation fault (core duped) pops up.  **What can I do to

[2018-02-10 10:53] artemanufrij commented on #66
hey @pookito thanks for feedback. i need some informations:
* is your music library local or mounted from a network device?
* if network device: SMB/NFS...?
* which formats have your music files? (mp3,ogg,…)
* how many files have you in your library?

[2018-02-11 13:19] artemanufrij commented on #66
I can't reproduce it :cry:

[2018-02-11 16:23] appcenter[bot] opened #67 "Invalid AppData file"
AppCenter Dashboard ran `appstreamcli validate` on your project's `.appdata.xml` file and
received the following errors:
[code]

---

For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html)
- [The AppStream Metadata Specification](https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html)

If you need help

[2018-02-11 16:26] artemanufrij commented on #67
fixed

[2018-02-11 16:26] #67 closed

[2018-02-11 16:28] appcenter[bot] opened #68 "Invalid AppData file"
AppCenter Dashboard ran `appstreamcli validate` on your project's `.appdata.xml` file and
received the following errors:
[code]

---

For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html)
- [The AppStream Metadata Specification](https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html)

If you need help

[2018-02-11 16:28] appcenter[bot] opened #69 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.5.2 release](https://github.com/artemanufrij/playmymusic/releases/tag/0

[2018-02-11 16:32] appcenter[bot] opened #70 "Invalid AppData file"
AppCenter Dashboard ran `appstreamcli validate` on your project's `.appdata.xml` file and
received the following errors:
[code]

---

For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html)
- [The AppStream Metadata Specification](https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html)

If you need help

[2018-02-11 16:32] appcenter[bot] opened #71 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.5.2 release](https://github.com/artemanufrij/playmymusic/releases/tag/0

[2018-02-11 16:40] appcenter[bot] opened #72 "Unable to overwrite existing package"
Houston failed to upload your project to the elementary repositories because
a package with the same name and version already exists in the repository.
Please contact a Houston developer for assistance.

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [0.5.2 release](https://github.com/artemanufrij/playmymusic/releases/tag/0

[2018-02-11 19:35] pookito commented on #66
Hey @artemanufrij, Thank you for writing to me so quick.  It is nice to see that the developer cares that much.  👍 💯 🥇 That is for you bro.

The answer is that my music library is in my hard drive.  It is not connected to the network via smb or nfs or any other.  They are a combination of mp3s and a.  I do have 30.2 gb, 222 folders and 92 additional mp3 files.  I hope that helps.  One of the reaso

[2018-02-11 19:41] artemanufrij commented on #66
@pookito yeah... I have ~8000 music files (80GB). I tryed it > 10 times and it never chrashed.

I have no idea how can I test it :(

![bildschirmfoto von 2018-02-11 20 38 52](https://user-images.githubusercontent.com/16517095/36077485-c29e61d8-0f6b-11e8-911c-195eca0ba705.png)

[2018-02-12 19:13] artemanufrij commented on #68
fixed

[2018-02-12 19:13] #68 closed

[2018-02-13 09:36] #72 closed

[2018-02-13 09:36] #71 closed

[2018-02-13 09:36] #70 closed

[2018-02-13 09:36] #69 closed

[2018-02-13 09:39] artemanufrij commented on #66
hey @pookito  you could help me to debug it:
[code]

send me please the result after `bt full`

[2018-02-13 13:30] h4ck3r9 opened #73 "Podcasts"
Are there any plans to integrate podcasts into this app?

[2018-02-13 13:40] artemanufrij commented on #73
good point. have you tried "http://vocalproject.net/" from Nathan?

[2018-02-13 14:37] pookito commented on #66
Thank you for writing back to me.  I wish I can help more.  But if you would like to show me around the ropes I'll be willing to help out with more projects.  Here is what you asked for:

GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to

[2018-02-13 15:03] artemanufrij commented on #66
@pookito put `bt full` into command line after `Segmentation fault (core dumped)`

[2018-02-13 15:14] pookito commented on #66
It seems that I don't have that package installed.  I tried the following:

 bt full
bt: command not found
pookito@pookito-Lenovo-S41-70:~$ sudo apt install bt
btag             btanks-data      btest            bti              btrbk            btrfs-tools-dbg  btyacc
btanks           btcheck          btfs             btpd             btrfs-tools      btscanner
pookito@pookito-Lenovo-S41-70:~$ sud

[2018-02-13 16:06] artemanufrij commented on #66
@pookito you don't have to install `bt` it's a part of `dbg`

1. command:
`gdb com.github.artemanufrij.playmymusic`

2. command:
press `r` + enter for run
wait for Segmentation fault

3. command:
`bt full`

[2018-02-13 16:08] artemanufrij commented on #66
PS: meybe you have to install `gdb`

[2018-02-13 17:32] pookito commented on #66
Thank you for the quick reply here is what I got:

[New Thread 0x7ffcbee21700 (LWP 20911)]
[New Thread 0x7ffcbd61e700 (LWP 20912)]
[Thread 0x7ffddf061700 (LWP 18460) exited]
[New Thread 0x7ffddf061700 (LWP 20913)]
[New Thread 0x7ffcbce1d700 (LWP 20914)]
[New Thread 0x7ffcbc61c700 (LWP 20915)]
[New Thread 0x7ffcbbe1b700 (LWP 20916)]
[New Thread 0x7ffcbae19700 (LWP 20917)]
[New Thread 0x7ffcba618700

[2018-02-13 17:37] btd1337 opened #74 "[Feature Request] New Tab: Songs"
Create a new tab: Songs.

This tab will display the entire list of songs in the user's library.

![new tab](https://user-images.githubusercontent.com/11943860/36164554-d3a7df54-10d3-11e8-8357-e7c4101a42d7.jpeg)

[2018-02-13 17:41] btd1337 opened #75 "Songs are being opened in the incorrect tab"
When a song is opened directly from the File Manager It is displayed in an incorrect window. Try to get songs executed from the file Manager are displayed in an empty playlist that has only the songs selected in the File Manager.

![melody](https://user-images.githubusercontent.com/11943860/36164634-18a7e43c-10d4-11e8-871e-896e54b00683.jpeg)

[2018-02-13 18:06] artemanufrij commented on #75
hey @btd1337 thanks for your FR.

It would be also possible to create a dummy playlist for selected music files and show it directly in playlist view. what do you think about it?

[2018-02-13 18:33] btd1337 commented on #75
It's very close to what I imagined.

While the songs are being played, other songs opened by the file manager should be allowed to be added to this weak playlist. This behavior occurs in other players like Clementine.

[2018-02-13 20:14] artemanufrij commented on #75
I will check it out next weekend :+1:

[2018-02-13 21:37] malpaw opened #76 "Regression: Symbolic links in library folder not working"
There is a potential regression bug related to symbolic links in library, previously raised as #18.
The steps to reproduce are exactly the same. The output is
`** (com.github.artemanufrij.playmymusic:15756): WARNING **: LocalFilesManager.vala:85: Operation not supported`
(repeated one time for each symlink in a library folder)

[2018-02-14 22:39] artemanufrij commented on #64
Hey @jtrees it's not an app issue. graphui has a 128px icon:
![bildschirmfoto von 2018-02-14 23 35 39](https://user-images.githubusercontent.com/16517095/36231828-cd3b9c7a-11df-11e8-8550-1187297b24cc.png)

[2018-02-16 04:42] torikulhabib opened #77 "DLNA On Play Music"
There is Option just read with Smartphone.
![screenshot from 2018-02-16 11 24 59](https://user-images.githubusercontent.com/26135527/36293584-75ac46c4-130d-11e8-89c1-a017df5c621a.png)
![screenshot_2018-02-16-11-27-36](https://user-images.githubusercontent.com/26135527/36293593-84ef43c0-130d-11e8-81cc-30bdd1ce6b74.jpg)
![screenshot_2018-02-16-11-27-44](https://user-images.githubusercontent.com/2613

[2018-02-16 08:49] torikulhabib opened #78 "feature request : show Lyrics"
Please show Lyrics

[2018-02-18 15:16] artemanufrij commented on #64
I'm going to close this issue because it's a appstream bug

[2018-02-18 15:16] #64 closed

[2018-02-18 15:19] artemanufrij commented on #44
@yeboahnanaosei check this out:
![bildschirmfoto von 2018-02-18 16 18 50](https://user-images.githubusercontent.com/16517095/36353492-72620524-14c7-11e8-96c3-160cc383b972.png)

[2018-02-19 03:44] apcamargo opened #79 "Support albums with multiple CDs"
Albums with more than one CD are currently displayed as multiple albums

[2018-02-19 04:40] #79 closed

[2018-02-19 05:50] SubhadeepJasu commented on #44
Nice! @artemanufrij Does that banner show the currently playing song or the currently selected song?

[2018-02-19 05:59] artemanufrij commented on #44
@SubhadeepJasu current playing

[2018-02-19 06:24] SubhadeepJasu commented on #44
Awesome!

[2018-02-20 04:11] yeboahnanaosei commented on #44
@artemanufrij Hey, I'm rather seeing this late. I just tested it and it and everything seems to be working fine.

One tiny bit of suggestion. I think it will more intuitive if you rearrange the columns and position the title of the track first, then perhaps the artist and the rest can follow. I think its more natural if the name or title of the track comes first.

[2018-02-20 17:51] SubhadeepJasu commented on #44
I agree with that, I didn't notice it earlier. The Title of the song should be displayed in big letters, followed by Artist.

[2018-02-20 19:27] artemanufrij commented on #44
something like that?
![bildschirmfoto von 2018-02-20 20 26 09](https://user-images.githubusercontent.com/16517095/36444717-638a55b8-167c-11e8-906d-fecae6ed4d2a.png)

[2018-02-20 19:31] artemanufrij commented on #44
@yeboahnanaosei @SubhadeepJasu  something like that?

![bildschirmfoto von 2018-02-20 20 30 03](https://user-images.githubusercontent.com/16517095/36444975-09d00184-167d-11e8-8459-c1a2e8652b67.png)

[2018-02-21 18:36] SubhadeepJasu commented on #44
No. Show the title in big letters instead of Artist. As for artist the background blur picture says it all. Or you can show the artist along side the album.
![image](https://user-images.githubusercontent.com/20795161/36498405-30b52a44-1764-11e8-9009-51dc29e6759a.png)

[2018-02-21 19:18] artemanufrij commented on #44
@SubhadeepJasu next try :smile:
![bildschirmfoto von 2018-02-21 20 17 16](https://user-images.githubusercontent.com/16517095/36500327-4f67e546-1744-11e8-9139-47f7bc1fe71c.png)

[2018-02-22 02:46] yeboahnanaosei commented on #44
Its looking good @artemanufrij :+1:
I think ultimately, you will need to make it possible for the user to drag and rearrange the columns to his/her preference. And also make it possible for the user to select which columns he or she wants to have displayed. I think that will be really cool

[2018-02-22 03:37] SubhadeepJasu commented on #44
@artemanufrij  Perfect!

[2018-02-23 21:42] artemanufrij commented on #44
guys, I'm going to close this issue. for new FR or issues just open a new one :+1:

[2018-02-23 21:42] #44 closed

[2018-02-23 21:45] artemanufrij commented on #31
I'm going to close this issue, because I can't reproduce this issue. I tried it on >5 different systems and it worked an all them.

[2018-02-23 21:45] #31 closed

[2018-02-23 21:48] artemanufrij commented on #66
omg... I can't reproduce it :confounded:

[2018-02-24 13:57] SubhadeepJasu opened #82 "Shuffle and Repeat buttons not available in list view."
The title says it all. Its in v0.6.1. Ignore if already fixed.

[2018-02-26 06:19] SubhadeepJasu commented on #74
Done in current version. Its called List View.

[2018-02-26 07:50] artemanufrij commented on #74
Ok... then I'm going to close this issue!

Have a nice day :smile:

[2018-02-26 07:50] #74 closed

[2018-02-27 20:42] appcenter[bot] opened #84 "Missing changelog information"
AppCenter had some issues with your GitHub release changelog. We tried to fix
them as best we can, but you should make note about fixing them for your next
release.

- Missing list of changes

Please format your [GitHub release](https://github.com/artemanufrij/playmymusic/releases/tag/0.6.4)
body with a list of changes. AppCenter will use this to fill in all the needed
changelog information.

If y

[2018-03-02 18:11] #84 closed

[2018-03-02 19:07] artemanufrij commented on #82
hey @SubhadeepJasu could you test current master branch please?

[2018-03-03 05:38] SubhadeepJasu commented on #82
Ok.

[2018-03-03 06:04] SubhadeepJasu commented on #82
Working! Thanks for the fix.

[2018-03-03 08:19] SubhadeepJasu commented on #82
![screenshot from 2018-03-03 13-48-35](https://user-images.githubusercontent.com/20795161/36932067-b5922dd4-1ee9-11e8-9528-f6cfa17f9d45.png)

[2018-03-03 09:34] artemanufrij commented on #82
Thanks for feedback @SubhadeepJasu  :+1:

[2018-03-03 09:34] #82 closed

[2018-03-07 09:19] geo68 opened #86 "melody app"
Hi. I just wanted to let you know that it's a great app to listent to radios on internet.
Where are configuration files stored?. I want to copy the list of radio from a pc to another without having to start from zero every time...

[2018-03-07 09:41] artemanufrij commented on #86
Hey @geo68 thanks for feedback. Maybe I should implement a import/export function :thinking:

 ~/.cache/com.github.artemanufrij.playmymusic

[2018-03-07 10:00] geo68 commented on #86
Thanks. It would be helpful when you have dozens of radio to import from a
pc to another

On Mar 7, 2018 10:41, "Artem Anufrij" <notifications@github.com> wrote:

[2018-03-07 12:11] artemanufrij commented on #77
@torikulhabib I had already a prototype for DLNA recipient :thinking: I will take a look in my code archive

[2018-03-08 06:36] deikatsuo opened #87 "Problem with auto-sleep"
When melody app was on, causes the "Sleep when inactive" not working properly on my machine

[2018-03-08 06:38] deikatsuo commented on #87
Also, my playlist was gone after the update yesterday

[2018-03-08 07:23] artemanufrij commented on #87
@deikatsuo thanks for report this issue:
1. was a track playing, or paused?
2. yesterday wasn't a release. but I'm going to try to reproduce this issue

[2018-03-08 08:14] deikatsuo commented on #87
1. yes its playing
2. I don't know, but there is an update in appstore

[2018-03-08 08:23] artemanufrij commented on #87
@deikatsuo can you tell men which version you are using. current version: 0.6.5

[2018-03-08 09:32] deikatsuo commented on #87
yeah 0.6.5

[2018-03-08 17:05] SubhadeepJasu opened #88 "Edit Album and Artist data of songs in List View."
Capability to edit / add Album and Artist data of songs in the list view or in per song basis. I have bunch of songs that didn't have any album or Artist data in their id3 tags. Their album is set to "Music" and artist to my name by default. I want to change data of particular songs to give them unique album and artist data.

[2018-03-08 17:07] SubhadeepJasu commented on #88
![image](https://user-images.githubusercontent.com/20795161/37164748-3799cce8-2321-11e8-8730-3458feef49f6.png)

[2018-03-09 13:40] franklevel opened #89 "No focus on Plank actions"
When I click  on any plank label actions (Play/Pause, Next, Prev) the player gets focus, it's not necessary.

Wanted behavior:
- No focus and only do any action.

[2018-03-09 14:29] artemanufrij commented on #89
Hey @franklevel, I fixed it already in current master branch. I will release it this weekend.

[2018-03-10 19:02] #89 closed

[2018-03-10 19:12] artemanufrij commented on #38
@arshubham could you test current master branch please?

Double click on album/artist: start playing first track
Double click on track: start plying from beginning

[2018-03-12 12:48] deikatsuo opened #91 "Feature Request: Playlist by folder"

[2018-03-14 02:39] o-alquimista opened #93 "New icon with unique shape + more color"
I would like to make Melody's icon more recognizable, following elementary's Human Interface Guidelines, so here's a guitar-pick-shaped icon for it, inspired by Lineage OS default music player "Eleven".

![melody svg](https://user-images.githubusercontent.com/25424263/37380296-ceea435e-2716-11e8-991a-278dae068980.png)

The .svg file is here, but I would need to publish it somewhere else.

[2018-03-18 19:46] giovannicaligaris opened #96 "iPod support"
I have an iPod classic and this feature is not supported on Melody, but it works well on Elementary's Music.

On the other hand, it does detect my Android phone very well.

It would be nice (if possible) to be able to mount my iPod as well.

![screenshot from 2018-03-18 19 46 20](https://user-images.githubusercontent.com/26255347/37570222-15eef7fa-2ae5-11e8-945c-3989a297c11d.png)

[2018-03-18 20:19] artemanufrij commented on #96
Hey @giovannicaligaris I don't have an iPot, so I can't test it.

[2018-03-21 15:08] torikulhabib commented on #78
i hope can play lyrics like this

![deepin-music-player-30-lyrics-mode](https://user-images.githubusercontent.com/26135527/37717979-437eb388-2d54-11e8-810d-52578a787e37.jpg)

[2018-03-24 16:08] SubhadeepJasu opened #97 "Album and Artist data of some songs are not being displayed in Tracks view."
In the Track View's now-playing pane (not sure what to call it). The album and artist info of particular songs are not being displayed. Now the here's the catch, this only happens with songs from "Above & Beyond". I don't know but I speculate it could due to the presence of '&' symbol in the artist name. Also if I change to another song from a different artist and change back to a song from A&B, t

[2018-03-24 16:11] artemanufrij commented on #97
@SubhadeepJasu let me check it :thinking:

[2018-03-24 16:16] artemanufrij commented on #97
@SubhadeepJasu fixed in master branch :+1:

[2018-03-24 16:17] artemanufrij commented on #97
![bildschirmfoto von 2018-03-24 17 16 56](https://user-images.githubusercontent.com/16517095/37866174-33352f9a-2f87-11e8-8f8a-59c61efa801c.png)

[2018-03-25 13:03] SubhadeepJasu commented on #97
Thanks! :)

[2018-03-25 13:03] #97 closed

[2018-03-28 17:03] mjwhodur opened #98 "Feature request: Rip Audio-CD"
Dear Artem,

Melody is my favorite app for music. Could you, please, add feature to rip CD to opus and FLAC?

Thank you in advance,
Michal

[2018-03-29 05:27] mjwhodur commented on #96
iPod Shuffle works as standard FAT32 disk, so it shall be working properly, however :) @artemanufrij

[2018-03-29 07:35] artemanufrij commented on #98
I was thinking about this feature. I will check what is the best method to do that.

[2018-03-29 18:44] appcenter[bot] opened #100 "Invalid AppData file"
AppCenter Dashboard ran `appstreamcli validate` on your project's `.appdata.xml` file and
received the following errors:
[code]

---

For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html)
- [The AppStream Metadata Specification](https://www.freedesktop.org/software/appstream/docs/chap-Metadata.html)

If you need help

[2018-03-30 18:26] SubhadeepJasu opened #101 "Default Album and Artist artwork for unknown metadata"
Currently the app assigns a random album and artist image for unknown album or artist or for songs which it couldn't gather data about. It would be better to assign a default album image (like a staff note or an audio cd icon) and a default avatar for artist.
![image](https://user-images.githubusercontent.com/20795161/38148710-37b56632-3475-11e8-9b21-7be58adca6a0.png)
As you see in the image that

[2018-03-30 19:48] artemanufrij commented on #101
hey @SubhadeepJasu thanks for feedback. You can change album art by right click in "album view"...

[2018-03-31 04:33] SubhadeepJasu commented on #101
Yeah but doing that has this problem. #88 which prevents me from editing metadata of specific songs.

[2018-03-31 04:44] SubhadeepJasu commented on #101
Basically all the songs which don't have a proper metadata, are given a common album and a common artist which is me.  Since there is no way to change album of a specific song, editing album name from album view will set all the same album name for all the songs. For example I wanna change album of heart attack. In album view all those songs without metadata have the same album "music". So changin

[2018-04-02 12:11] #100 closed

[2018-04-03 17:08] rasmus91 opened #102 "Danish translation file"
Here's a file with a danish po file. Please note that as certain words are troublesome to translate as there's either the direct translation or the contextual one, and at times it can be hard to decide which is more correct to use; The case I'm speaking of in particular is 'Tracks in Album' being best translated to 'Numre i Album', however, at some other place, where it is just 'track', 'Spor' is

[2018-04-03 17:53] artemanufrij commented on #102
thank you @rasmus91! I added your translation file into current master branch. The Translation will be available with next release!

[2018-04-03 17:53] #102 closed

[2018-04-05 08:37] rasmus91 commented on #102
I can't help but notice that the titles aren't translated though the file is complete i believe. Can translation options be added for those? (see attached image)
![gettunes](https://user-images.githubusercontent.com/2297739/38355472-47d419f4-38bd-11e8-9755-1de02d029add.png)
![getradio](https://user-images.githubusercontent.com/2297739/38355473-47f1f8a2-38bd-11e8-862e-bbaa75ea5ee8.png)

[2018-04-05 11:09] artemanufrij commented on #102
hey @rasmus91 I updated the pot/po content. Coult you test it please?

[2018-04-05 18:43] rasmus91 commented on #102
There's the updated file right back. and i saw you put 'rasmus91' in that xml file. You may replace it with 'Rasmus Lindegaard'

[da.po.zip](https://github.com/artemanufrij/playmymusic/files/1881283/da.po.zip)

[2018-04-05 20:49] rasmus91 commented on #102
I got around to actually getting the build working here, and though a lot of new text is translated, there's still a couple of things missing from the file. For all the menus, the title in the middle is still in english.  (including radio, which isn't shown here). The tooltip for tracks is also still in english.

![tracks](https://user-images.githubusercontent.com/2297739/38391063-76548f00-3923-11

[2018-04-07 15:55] it-s opened #107 "Add "Copy to collection" option on import"
Currently when importing files in Melody, the files are not moved. They are simply added to the database. It would be nice to have an option to actually copy/move the files into the music library folder. And as a bonus to place the files into "/[artist]/[album]/" folder (like iTunes does).

[2018-04-11 13:25] opheliax commented on #73
I'd love to see podcast support in Melody. I had been searching for a good music player with a great ui for a while, Melody & Harmony, Harmony however is cumbersome with the plugins and way it pulls music from the internet, are the only currently active ones that are great. Rhythmbox UI is ugly with an awful amount of submenus making navigating to what you really want a pain, Amarok is a cluttered

[2018-04-15 16:52] artemanufrij commented on #107
hey @it-s could you test current master branch please? I added a new option into Preferences dialog
![bildschirmfoto von 2018-04-15 18 51 44](https://user-images.githubusercontent.com/16517095/38780932-127c7c14-40de-11e8-99bb-836864f2eb99.png)

[2018-04-16 03:29] it-s commented on #107
Works like a charm! Thanks.

[2018-04-16 03:29] #107 closed

[2018-04-16 06:03] artemanufrij commented on #107
@it-s thanks for your feedback

[2018-04-22 19:18] WebShapedBiz opened #108 "Song opened from file manager does not play automatically"
Hi.

- Clicking the song in Files just opens PlayMyMusic without detecting the song. Nothing plays if Play button is clicked and there is no song info in the toolbar.
- Then, when the song is clicked for the second time in Files, the music starts playing.
- After the song stops it cannot be replayed  with Play button, just with another click in Files.

Cheers.

[2018-05-08 13:25] bloodychaos opened #109 "Melody crashing upon loading"
Been using Melody for a few days but this issue just started happening today. The app will load for a minute or less and then crash. Running it via terminal reveals the following errors:

`(com.github.artemanufrij.playmymusic:8203): Gtk-WARNING **: Failed to set text '<b>The Crossing <NO ver.></b>' from markup due to error parsing markup: Error on line 1 char 33: Odd character '>', expected a '='

[2018-05-08 13:41] artemanufrij commented on #109
@bloodychaos thanks for your feedback.

Have you a track with title which includes a "<" or ">"?

[2018-05-08 14:05] bloodychaos commented on #109
@artemanufrij I've searched through my music folder with catfish as well as through Nightingale (another music player I've been using). Seems like there's none. I've searched for "/" and "\" as well but couldn't find any.

[2018-05-08 16:02] artemanufrij commented on #109
Could you check your ID3 tags? 'pudletag' is a good app to do that

[2018-05-09 14:46] bloodychaos commented on #109
Apologies for the late reply. There was one file with "<" and ">" in the comments but I made the change and try to run Melody again after  clearing ~/.cache/com.github.artemanufrij.playmymusic and restarting the pc before running Melody. The issue seems to persist still. Below is the error messages:

`** (com.github.artemanufrij.playmymusic:15471): WARNING **: LocalFilesManager.vala:85: Operation

[2018-05-09 16:45] artemanufrij commented on #109
@bloodychaos have you any symbolic links in your library?

[2018-05-09 16:50] artemanufrij commented on #109
PS: Coud you test current master branch please?

[2018-05-09 23:03] bloodychaos commented on #109
There's not symlinks on my library

`kay@Millelune:~$ find -L Music/ -xtype l
find: ‘Music/lost+found’: Permission denied
kay@Millelune:~$ find -L Music/ -type l
find: ‘Music/lost+found’: Permission denied
kay@Millelune:~$ ls -lR Music | grep ^l
ls: cannot open directory 'Music/lost+found': Permission denied
kay@Millelune:~$
`
Melody is installed via the AppCenter but I'll test again with the mast

[2018-05-10 14:29] bloodychaos commented on #109
Tried using the current master branch. It loads halfway through and got stuck at the same location for the past 2 hours:

`Track ID: 2920 - fairytale
Track ID: 2921 - ÄÌÑç, 夏の林檎, 夏の林檎
Download Pixbuf from URL: http://coverartarchive.org/release/f5a851fb-7b4d-4cca-918c-04a6ff94edaf/9602282611-500.jpg
Track ID: 2922 -  ããæ
`
From the looks of it, it's probably not reading Chinese, Japanese

[2018-05-11 13:58] artemanufrij commented on #109
@bloodychaos we need deeper analysis.

1. fetch last master branch and build it (ninja)

2. run app with following comman: `gdb ./src/com.github.artemanufrij.playmymusic` [Enter] from your project location and then type `run`

3. Use Musicplayer until it chrashes

4. type `bt full` into command line and post the result please

thank you!

[2018-05-11 15:20] bloodychaos commented on #109
@artemanufrij  here's the result for `bt full` as requested:

        _tmp3_ = 0x0
        _tmp5_ = 0x7fff74193ee0
        _tmp7_ = 0x7fff53ffea30
        _tmp4_ = 0x0
        _tmp6_ = 0x7fffa0000058
        _tmp2_ = 0xba2500
        _tmp1_ = 1
        url = 0x0
        _tmp11_ = 0x0
        _tmp17_ = 0x0
        _tmp20_ = 0x0
        _tmp26_ = 0x7fff53fffc18 ""
        body = 0x0
        _tmp12_

[2018-05-11 16:31] artemanufrij commented on #109
could you disable "MusicBrainz" support in Preferences and try it again?
![bildschirmfoto von 2018-05-11 18 30 34](https://user-images.githubusercontent.com/16517095/39935504-8084cffc-5549-11e8-8a42-faa9bd8a1d77.png)

[2018-05-11 16:55] artemanufrij commented on #109
PS: don't forget to fetch newest master branch

[2018-05-11 17:30] bloodychaos commented on #109
@artemanufrij  I've used the newest branch and disabled MusicBrainz here's the `bt full` output :)

[Switching to Thread 0x7fff8dffb700 (LWP 29552)]
0x00007ffff7551a81 in g_slice_alloc () from /lib/x86_64-linux-gnu/libglib-2.0.so.0
(gdb) bt full
#0  0x00007ffff7551a81 in g_slice_alloc () from /lib/x86_64-linux-gnu/libglib-2.0.so.0
No symbol table info available.
#1  0x00007ffff517402b in gst_caps_

[2018-05-16 01:36] it-s opened #111 "Ability to sort by date added, or"
Currently when adding the new songs to the library, nothing visually changes to tell the user songs were successfully added.
It would be nice to have an ability to sort the songs by the date they were added to the library to be able to see the new ones.
OR
Have some sort of other indicator visually representing new songs:
a) a simple notification "{n} new tracks have been added"
b) a label "New" a

[2018-06-14 21:09] suprko opened #113 "Melody crashes about half of the time that I use it"
Sorry for such a vague bug, but it's hard to know what's going wrong. Every time I open Melody it takes about 15-30 seconds to load my database. Then about half of the time, one of these things happens:

* Melody simply crashes after showing all of the loaded music, or
* Melody shows me all of the loaded music but I'm unable to interact with the app (can't click on anything, can't move or resize w

[2018-06-14 21:19] suprko commented on #113
Hm, I just found the "Sync files on startup" option and disabled that. Based on a couple of tries this seems to have stabilized the app...

[2018-06-17 08:50] ChesterCloud opened #114 ""Edit Album Properties" little bug"
Hello. I mentioned a little bug. When I open "Edit Album Properties" context entry and want to close it by pressing "X" button on the left upper corner the window closes after second click.

[2018-06-17 08:51] ChesterCloud opened #115 "Add Tag Editing feature"
Hello. I really like your music player. Can you add tag editing feature for songs to your player?

[2018-06-19 17:58] bilelmoussaoui commented on #55
Sorry for the long delay. I'm going to update my PR on flathub today.

[2018-06-20 05:58] alicerunsonfedora opened #116 "Apple Music integration?"
Though this API is in beta and it is JS-based, I think you could work wonders in implementing Apple Music support into Melody with this API: https://developer.apple.com/documentation/musickitjs

[2018-06-25 12:46] torikulhabib commented on #78
recommended source
https://github.com/bhrigu123/Instant-Lyrics

[2018-06-27 20:52] artemanufrij commented on #114
fixed by sfesenko!

[2018-06-27 20:52] #114 closed

[2018-06-28 15:34] Jimthetyreman opened #118 "Melody "Hanging""
![melody screenshot from 2018-06-28 16 29 24](https://user-images.githubusercontent.com/18515872/42044422-e1f11f8a-7af0-11e8-88b3-6244c12cf52d.jpeg)
Melody just hangs and freezes "Loading... Reading out database content"

[2018-06-28 16:40] Jimthetyreman commented on #118
Artem,

Thanks for getting back to me so quickly, I've currently got in excess of 58,000 files in my music folder.
Jim.

Sent from Mailspring (https://link.getmailspring.com/link/1530203952.local-e7ab8d30-7488-v1.2.2-96fb3a99@getmailspring.com/0?redirect=https%3A%2F%2Fgetmailspring.com%2F&recipient=cmVwbHkrMDExYTg3YTAwOWM2OWJlZWMzODc0NjA3MWViNzAzODI0YTg3ZjhjMjY5MTEyYjFjOTJjZjAwMDAwMDAxMTc0Y2NlNDM5

[2018-06-29 17:32] appcenter[bot] opened #119 "Failed to build with liftoff"
AppCenter failed to build with liftoff.

<details>
<summary> Build Log </summary>

[code]

</details>

If you need help with this issue please stop by the [gitter](https://gitter.im/elementary/houston) channel.

**Affects**: [1.0.2 release](https://github.com/artemanufrij/playmymusic/releases/tag/1.0.2)

[2018-06-29 17:42] #119 closed

[2018-07-02 21:47] suprko commented on #113
Still happening, less frequently but enough that it's kinda annoying :(

[2018-07-05 16:45] ozgurakyazi opened #120 "Feature Request: Space Button To Pause/Play Shortcut"
Hello,

Thank you for the player :) I would like to have the shortcut feature of play/pause via pressing space button. I think it would be and easy to implement(hopefully), intuitive and nice feature to have.

Best.

[2018-07-05 19:39] artemanufrij commented on #120
Hey @ozgurakyazi,
thank you for your request. Yes, it's possible. But I have to check how to handle behavior if a textbox has keyboard focus. I will take a look.

PS: Media-Key is already implemented

[2018-07-18 13:17] AkitakiKou opened #121 "HiDPI and cover art"
Most of the UI are working well on HiDPI displays, but the cover arts are blurry. I suspect they're not aware of screen dpi?

[2018-08-02 14:02] riker09 commented on #58
I'm listening to soma.fm mostly. I've added the AAC playlist, eg. http://somafm.com/groovesalad130.pls but I don't see the current title. I've tried their other URLs:

MP3 256kb

* Main PLS: http://somafm.com/groovesalad256.pls
* Main M3U: http://somafm.com/m3u/groovesalad256.m3u
* Direct Server: http://ice1.somafm.com/groovesalad-256-mp3

AAC 128kb

* Main PLS: http://somafm.com/groovesalad130.pl

[2018-08-07 07:12] riker09 opened #122 "Get song name & artist from internet radio stream"
I've already commented on the closed issue #58 (which probably was not a smart thing to do), but it seems that for some radio stations the artist and song are not fetched properly.

I'm listening to soma.fm mostly. I've added the AAC playlist, eg. http://somafm.com/groovesalad130.pls but I don't see the current title. I've tried their other URLs:

MP3 256kb

* Main PLS: http://somafm.com/groovesal

[2018-08-07 07:17] riker09 opened #123 "Resume playback after screen lock"
I'm using Elementary OS at work and company policy requires to lock your work station when you leave your desk. So throughout the day I frequently lock my desktop (`Super + L`) and return shortly after.

The playback stops once the screen is locked (which I think is nice because it saves bandwidth). When I unlock it the playback resumes for a short while but then stops. I'm taking a wild guess her

[2018-08-07 09:41] riker09 commented on #123
I've also just noticed that I cannot click on play to resume playback. I have to open the program, click on a different station to start playback and then I can switch back to the station I was originally listening to.

[2018-08-21 16:43] Allen-B1 opened #125 ".oga files not recognized"
When I click "Import Music" none of my `.oga` files show up.

[2018-08-21 16:44] Allen-B1 commented on #125
Oops, I didn't realize that I was supposed to choose a folder

[2018-08-21 16:44] #125 closed

[2018-08-24 10:59] infosisio opened #126 "Pause With Space Bar"
This is available in most players and is useful to those who are used to it.

[2018-08-27 09:58] bilelmoussaoui opened #127 "Correct the MediaKeys bus"
Currently, the MediaKeys bus is not correctly defined.

If you run the application in a sandboxed env like Flatpak the mediakeys won't work. You can take a look at the default elementary Music application if you want an idea how things should be done.

[2018-08-27 17:48] artemanufrij commented on #126
@infosisio could you test current master branch please?

[2018-08-27 18:52] artemanufrij commented on #118
@Jimthetyreman I improved initial loading. could you test current master branch please?

[2018-08-30 11:26] Maccer1 opened #128 "I'm unable to play some m3u streams that VLC can play"
I've been trying to play all the streams from Radio X (uk radio) but I can't seem to make it work.
[Here](http://media-ice.musicradio.com/RadioXLondon.m3u) you have one m3u playlist if you want to try it yourself. When I open it on VLC it works fine.

[2018-08-31 03:44] DFergFLA opened #129 "Update Meta Data"
I have edited the meta data for a mp3 "I changed the artist form "Various" to "Sugababes".  In Music, the Elementary OS native app it sees this change.  In Melody, nothing I have been able to do has been able to make Melody see the change in the meta data.

[2018-09-01 11:12] infosisio opened #130 "3 Icons Missing on Mint"
I compiled this on latest version of Mint and the icons for Shuffle, Playlists and Repeat are missing.

[2018-09-01 12:35] infosisio commented on #130
@artemanufrij Can that be installed on Mint ?

[2018-09-01 13:42] Maccer1 opened #131 "Add a song to a playlist from the Track view"
I think it would be great if we could add a song to a playlist from the Track view like you can already do when you are in the Artists or Albums view.

[2018-09-01 13:45] Maccer1 opened #132 "When you delete all songs from a playlist, the playlist dissapears"
I'm not sure if this is a bug or a feature lol
But right now what is happening is that deleting the last song from a playlist makes the playlist dissapear.

[2018-09-01 13:49] Maccer1 opened #133 "Add the currently playing song to a playlist"
I think it could be a great idea.
Maybe you could add a plus sign (+) to the top bar so that when you click it an option to add the current song to a playlist appears.

[2018-09-01 14:17] artemanufrij commented on #132
@Maccer1 currently it's a feature :)... but I could make it optional...

[2018-09-01 15:14] artemanufrij commented on #131
@Maccer1 could you test current master branch please?

[2018-09-01 15:25] artemanufrij commented on #126
@infosisio could you test it again, please?

[2018-09-01 15:36] artemanufrij commented on #132
@Maccer1  I added new option (it's true by default). Could you test current master branch please?

![bildschirmfoto von 2018-09-01 17 34 56](https://user-images.githubusercontent.com/16517095/44947445-6e1cf700-ae0d-11e8-8afe-280d10c75265.png)

[2018-09-01 16:54] Maccer1 commented on #132
Tested and works great!

[2018-09-01 17:11] Maccer1 commented on #131
Works great too!
However I might found another issue.. When I play songs from the Track view and enable Shuffle it doesn't focus to the current song so it's kinda difficult to search for that song and add it to a playlist when you have a big library...

If you aren't sure what I mean with "focus" you can see an [example on VLC](https://user-images.githubusercontent.com/8525464/44948175-8266f100-ae

[2018-09-01 17:31] Maccer1 commented on #126
Not OP but I've tested it. Play/Pause with spacebar works, but if you mouseclick to pause and then use the spacebar to play it gets stuck (plays for a second and pauses again). The same happens if you click to play and then try to pause with the spacebar.

I've also found that clicking Next and then pressing spacebar it simulates a second Next click while also doing the thing I've mentioned above.

[2018-09-01 17:32] infosisio commented on #126
@artemanufrij Just tested it, works !

[2018-09-01 18:06] artemanufrij commented on #126
@Maccer1 @infosisio guys, check current master branch please.

PS: if you click to title bar (song name) it jumps directly to playing song

[2018-09-01 18:08] artemanufrij commented on #131
@Maccer1 fixed in current master branch. Could you test it please?

[2018-09-01 18:28] Maccer1 commented on #126
I've updated Melody but the same issues I mentioned earlier still happen. Moreover if I click the song name it doesn't jump to it. If I double click then the window resizes but nothing more.
I'm nearly sure I've updated it correctly since another bug I've reported has just been solved so I don't know what's happening :/

Also maybe I should mention that I'm using Juno beta so maybe some things cou

[2018-09-01 18:34] artemanufrij commented on #126
@Maccer1 I can't reproduce it. Could you describe it step by step?

[2018-09-01 18:40] artemanufrij commented on #126
@Maccer1 I have it.

[2018-09-01 18:41] artemanufrij commented on #126
can be tested

[2018-09-01 18:46] Maccer1 commented on #126
I made a video if you need more clarification, but yeah it still happens (as of 15 min ago)

[2018-09-01 19:01] artemanufrij commented on #126
@Maccer1 yes, please! but with last master branch...

[2018-09-01 19:12] Maccer1 commented on #126
Alright. Now it's partially solved. The only issue that persists is clicking pause/play and then using the spacebar to do the same. It continues to stop the song after 1 second.

Playing another song solves this issue (until the next time you click pause/play).

[2018-09-01 20:48] Maccer1 commented on #126
Yes! It's perfect now :1st_place_medal:

[2018-09-01 20:56] Maccer1 commented on #123
I can't reproduce this issue. The music continues playing when I unlock my laptop. I've also tried going to sleep but it still works normally. I'm using the latest build from the master branch so maybe your issue has been fixed recently.

Can you try again? If the issue persists then install the master branch on your pc following the steps listed on the readme and check if it works.

[2018-09-01 21:02] Maccer1 commented on #108
This issue is partially solved. Now you can open a song from files and it'll play it (just once). However you can't select more than one file since it's just going to play the first and then stop.

[2018-09-01 21:18] artemanufrij commented on #126
thanks for testing!

[2018-09-01 21:18] #126 closed

[2018-09-02 11:03] artemanufrij commented on #130
@infosisio
https://mintguide.org/themes/152-elementary-icons-in-linux-mint.html

[2018-09-02 12:57] appcenter[bot] opened #134 "Appstream tests fail"
AppCenter ran a bunch of tests on your appstream file. These are the results.

## Warnings:
Most of these are fixed during the building process, but you should ensure they
are fixed in your code for future releases.
  - "id" field should be "com.github.artemanufrij.playmymusic"

### For more information, see:
- [The AppStream Quickstart Guide](https://www.freedesktop.org/software/appstream/docs/ch

[2018-09-02 15:10] bilelmoussaoui commented on #55
Already on Flathub https://github.com/flathub/com.github.artemanufrij.playmymusic
Can be closed, please report any issues you have there

[2018-09-02 15:12] bilelmoussaoui commented on #55
@artemanufrij Can you please try to run the application as a Flatapk and see if you have any issues or anything that can be fixed to improve the application

[2018-09-02 15:34] bilelmoussaoui commented on #55
https://flathub.org/apps/details/com.github.artemanufrij.playmymusic

[2018-09-02 20:26] artemanufrij commented on #55
@bilelmoussaoui thank you for your great support!

[2018-09-02 20:27] #55 closed

[2018-09-10 09:00] riker09 commented on #123
I've installed the latest version but the issue still exists. I want to make clear that I have no local music files whatsoever. I was entirely referring to streamed music (internet radio). Maybe I should have made that clearer on the original issue title.

As far as I see it there are two ways to go here:

a) cache the stream during locked screen time and resume from cache
b) stop the stream and w

[2018-09-13 01:29] #78 closed

[2018-09-25 08:05] giovannicaligaris opened #136 "DAAP Support"
Whishlist

[2018-10-05 10:17] infosisio opened #137 "Icons Missing"
Hi, I am on Ubuntu and I really love the application but the fact that some icons are missing is annoying.

What I suggest is the placement of some fallback icons in case the distro is not elementary :)

Thanks a lot !

[2018-10-05 14:34] artemanufrij commented on #137
have you tried to install elementary icons from repository?

[2018-10-05 15:56] infosisio commented on #137
@artemanufrij What is the exact package for that ?

[2018-10-05 17:17] artemanufrij commented on #137
I'm not on my PC. But something like elementary-icons or elementary-theme-icons

[2018-10-07 11:36] infosisio commented on #137
@artemanufrij Sorry I am not at the computer that has it installed now. The icons just show the red icon that is shown when an icon is not found.

[2018-10-11 11:03] hukipola opened #138 "Stability issues with every single program from artemanufrij"
I'm a big fan and patron of elementary OS. I really would like to use all the programs of artemanufrij like "melody" or "memories" but every single one of them is so incredible unstable that I can't use them.
On my Thinkpad X240 they just keep crashing after 20 seconds or if I got over that when I try to search something in my library. I tried melody, memories and cinema. All of them are not usabl

[2018-10-11 16:19] artemanufrij commented on #138
@hukipola thank you for your feedback. I use Melody each day (on Loki) and it doesn't crashes. Could you run it from command line, please. Maybe it throws some useful error messages.

[2018-10-11 20:51] hukipola commented on #138
Hey @artemanufrij,
thanks for the fast reply!

I started memories from terminal and got this output after 10 seconds in:
`(com.github.artemanufrij.showmypictures:27355): Gtk-WARNING **: drawing failure for widget 'ShowMyPicturesFastViewWindow': invalid value (typically too big) for the size of the input (surface, pattern, etc.)`

I didn't try melody for months and right now it seems to run smoothl

[2018-10-18 10:17] aleksandar-todorovic opened #139 "My library crashes Melody on"
gdb output returns nothing useful:

[code]

Running Melody through the terminal returns this:

[code]

[2018-10-18 11:39] artemanufrij commented on #139
Hm... the warnings are't the rease. Is it a NFS or CIFS mount? Or is it just a removable device?

[2018-10-18 12:17] aleksandar-todorovic commented on #139
It's an NTFS partition, auto-mounted. `/etc/fstab` line:

[code]

If it means anything, I added the library (~100 albums) just fine. It loaded all the songs. I've noticed some errors in the id3 tags in a certain album, noticed Melody can't edit tags of individual songs, edited them using [Picard](https://picard.musicbrainz.org/), and tried "Resync library" to make new changes appear.

Melody crash

[2018-10-19 10:07] yerbestpal opened #140 "Sound indicator shows melody as not playing, despite playing music"
![screenshot from 2018-10-19 11-04-23](https://user-images.githubusercontent.com/15250241/47212070-1c193c00-d38f-11e8-8980-ccdbd0eb1e62.png)

[2018-10-19 10:32] artemanufrij commented on #140
@yerbestpal thanks for feedback I will check it as soon as possible!

[2018-10-19 11:36] artemanufrij commented on #140
@yerbestpal I can't reproduce it on my system:
![screenshot von 2018-10-19 13 35 33](https://user-images.githubusercontent.com/16517095/47216050-f21e4480-d3a3-11e8-8bfa-9141dbc23fea.png)

[2018-10-19 11:39] yerbestpal commented on #140
Strange. Are you using Juno?

[2018-10-19 11:40] artemanufrij commented on #140
yes

[2018-10-19 11:41] artemanufrij commented on #140
![screenshot von 2018-10-19 13 40 51](https://user-images.githubusercontent.com/16517095/47216259-9f915800-d3a4-11e8-9ab6-3d989bc9edd1.png)

[2018-10-19 11:42] yerbestpal commented on #140
Hrm. Unfortunately I am not a developer so I am very limited as far as diagnosing any issues is concerned.

[2018-10-19 11:48] artemanufrij commented on #140
@yerbestpal no problem. What happens if you use the buttons inside the widget?

[2018-10-19 12:34] yerbestpal commented on #140
Okay, I can no longer reproduce the bug.

[2018-10-19 17:42] artemanufrij commented on #140
Can I close this issue?

[2018-10-19 18:55] yerbestpal commented on #140
I think so. If it occurs again I'll be sure to mention.

[2018-10-19 19:07] #140 closed

[2018-10-21 10:21] Spearmen opened #143 "No feature that let's you resume listening from previous session"
where is no preference that let you continue from where you left off, when the app is close.
It will always start from the start which is a pain if you got a 12 hour audio book.

[2018-10-22 06:17] DanyGee opened #144 "Please add option to switch chosen columns on/off and re-arrange them"
Hi,
the program is very promising.
It would be nice to have an option to disable columns of choice and rearrange them too.
For example I totally don't care about the track number, yet I cannot disable it in the view.

[2018-10-22 11:59] aadilayub commented on #115
I would also find this feature. Although the MusicBrainz integration is great, it adds incorrect information for a few albums. Neither Noise nor Melody have an interface to edit the details of an album beyond changing the name and cover art.

[2018-10-22 12:07] aadilayub opened #145 ""Album Artist" field missing in album properties"
There are many albums that are compilations of tracks by many artists. Normally, music players handle this by having a separate field for the author of the track (Artist), and a separate field for the author of the album (Album Artist).

Here is an example of such an album. You can see in MusicBrainz editor that the "Artist" field varies across all 9 tracks, but the "Album Artist" field is uniform

[2018-10-22 23:17] artemanufrij commented on #144
@DanyGee you can test switching columns on/off:

![screenshot von 2018-10-23 01 13 18](https://user-images.githubusercontent.com/16517095/47324701-3db14680-d661-11e8-8194-e43ec4f55d80.png)

resort will coming soon...

[2018-10-23 06:45] DanyGee commented on #144
Wow, nice building from sources experience. Clear instructions and no errors on building :tada:
Hiding the columns became visible, and works as expected - BIG THX!
For test purposes, I disabled all columns. Now I cannot make them visible again :scream:

[2018-10-23 06:54] DanyGee commented on #144
Had good experience building it from source code - clear instructions and no errors on build :+1:
`Columns Visibility` option became visible and works as expected :tada:
For test purposes I disabled all columns. With right-click I couldn't re-enable them, so I went `options->reset all views`. At program relaunch the columns were still missing, most probably because of re-syncing the database from

[2018-10-23 08:36] artemanufrij commented on #34
@DanyGee as first I look local `['artist.jpg','Artist.jpg','artist.png','Artist.png','interpreter.jpg','Interpreter.jpg','interpreter.png','Interpreter.png','band.jpg','Band.jpg','band.png','Band.png']`

Only if files doesn't exist I try to load it from musicbrainz

[2018-10-23 08:45] DanyGee commented on #34
Thx! That was the info I needed. Now, after all my music got checked on musicbrainz for covers, I just dropped a default `artist.png` to my music folder and this way all songs that didn't get any covers online, now have my default one set as the background - just didn't want to have blank, white BG on the title :tada:
![screenshot from 2018-10-23 10 40 11 2x](https://user-images.githubusercontent.

[2018-10-23 17:53] artemanufrij commented on #144
@DanyGee could you test it again please? A added a message if you try to hide last column:
![screenshot von 2018-10-23 19 51 44](https://user-images.githubusercontent.com/16517095/47380268-53744980-d6fd-11e8-8fe6-1c0cd7217f87.png)

[2018-10-23 17:58] DanyGee commented on #144
Nice, works as expected - won't let me hide last column :+1:

[2018-10-23 18:13] artemanufrij commented on #144
@DanyGee thank you for testing. I'm going to close this issue and open a new one "reorder columns"...

[2018-10-23 18:13] #144 closed

[2018-10-23 18:14] artemanufrij opened #146 "[FR] Reorder Columns in Tracks View"

[2018-10-25 12:37] rasmus91 opened #147 "Danish translation is a bit dated"
The Danish translation is a bit behind.

I've downloaded the .po file and updated it.
[da.po.zip](https://github.com/artemanufrij/playmymusic/files/2514880/da.po.zip)

[2018-10-28 14:43] artemanufrij commented on #143
released...

[2018-10-28 14:44] #143 closed

[2018-10-29 08:27] riker09 opened #150 "German translation not displayed"
I installed the latest update this morning and came across a glitch. In the settings dialogue the translation for `Remove Playlist if last Track was removed` is not shown in German but in English (last setting).

![playmymusic - german translation](https://user-images.githubusercontent.com/568497/47637659-b8e09400-db5c-11e8-8102-14aedb0132c9.png)

What is weird about this: The translation is there

[2018-10-29 12:06] artemanufrij commented on #150
@riker09 I translated it few days ago. It's not released, yet.

[2018-10-30 06:34] riker09 commented on #150
Ah, okay. I see. Nevermind then. :smiley:

[2018-10-30 06:34] #150 closed

[2018-11-01 18:13] SubhadeepJasu commented on #101
This has been fixed.

[2018-11-01 18:13] #101 closed

[2018-11-01 18:16] SubhadeepJasu opened #155 "Load Album Artwork from file metadata"
In case the user haven't applied a custom album artwork for a song in Melody, use artwork from file if available.

[2018-11-01 20:46] artemanufrij commented on #155
it does already. here are the possible files:
['cover.jpg', 'Cover.jpg', 'cover.png', 'Cover.png', 'album.jpg', 'Album.jpg', 'album.png', 'Album.png', 'folder.jpg', 'Folder.jpg', 'folder.png', 'Folder.png', 'front.jpg', 'Front.jpg', 'front.png', 'Front.png']

[2018-11-02 05:32] SubhadeepJasu commented on #155
Ok'ill check once again.

[2018-11-02 05:36] SubhadeepJasu opened #156 "Player often can't be a controlled by the keyboard media keys."
This is an occasional occurrence that the player cannot be controller by the media keys. This often happens randomly, sometimes in the same session while the app the open. Like its working one moment and then stops regarding the media keys suddenly while the app is open.

[2018-11-02 08:56] rasmus91 commented on #47
I find this to be an issue as well. Albums like '20 greatest rock hits' or some such just create a mess. I have a bunch of sound tracks and such, and this is incredibly annoying. Two albums by different artists having the same name, is rarer, i believe than one album with different artists, so perhaps the sorting should be changed to reflect this?

[2018-11-02 12:30] SubhadeepJasu opened #157 "[FEATURE REQUEST] Add option to resume playback on next start up."
The player already has a feature to resume the previously played song before the player was closed. Just add a toggle in the app menu to turn that feature on / off.

[2018-11-02 13:51] artemanufrij commented on #157
Do you mean Melody should instand resume playing on startup?

[2018-11-02 13:53] SubhadeepJasu commented on #157
No, I mean its okay the way the resume work rn. Just add an option to disable the feature or enable it. Basically choosing between. Starting the player fresh when the play button plays the music from beginning. OR the way it is rn where the music resumes from the time were it was left.

[2018-11-02 13:57] artemanufrij commented on #157
Okay... Let me a couple hours

[2018-11-02 13:57] SubhadeepJasu commented on #157
Basically like this:  `(  O)  Resume playback from the time you left it` something down that line. So if it is enabled then hitting play button will resume the music from the time it was left. If it is disabled then hitting play button will start the music from beginning. You get it.

[2018-11-02 21:50] artemanufrij commented on #157
@SubhadeepJasu could you test current master branch please?

[2018-11-02 21:50] #118 closed

[2018-11-02 21:51] #93 closed

[2018-11-02 21:53] artemanufrij commented on #47
ok guys,
what do you thing about three options for sorting content:
1) Artist - Year - Album (currently sorting)
2) Album - Artist
3) Artist -Album (ignore Year)

???

[2018-11-02 22:55] artemanufrij commented on #47
you can test it in current master branch:
![screenshot von 2018-11-02 23 48 35](https://user-images.githubusercontent.com/16517095/47944260-bedaca00-defa-11e8-8485-ee8b2982cb59.png)

[2018-11-03 00:05] artemanufrij commented on #155
Could you check it?

[2018-11-03 03:46] SubhadeepJasu commented on #157
sure

[2018-11-03 15:10] SubhadeepJasu commented on #155
Ok, I checked it and yeah it works. Sorry for the false issue. Looks like it was an issue with clementine which I used to write the cover art in the mp3.

[2018-11-03 15:10] #155 closed

[2018-11-03 23:05] artemanufrij commented on #137
@infosisio could you test flatpak please?

[2018-11-03 23:06] artemanufrij commented on #137
https://flathub.org/apps/details/com.github.artemanufrij.playmymusic

[2018-11-05 01:07] artemanufrij commented on #47
Released

[2018-11-05 01:07] #47 closed

[2018-11-09 09:02] rasmus91 commented on #47
Sorry for the late reply (SO busy these days)

That sorting does not solve the problem. What is needed, would be something like:

Sorting -> Album

Might be

Sorting -> Album - Year

would also work, though I'm not certain, as the Song might've been released on a different year than the rest of the songs in the Album (Such as if it's a platinum collection or whatever)

[2018-11-09 09:58] artemanufrij commented on #47
@rasmus91 have you tried it? I guess `Album - Artist` have bahaviour you need.

[2018-11-09 10:04] rasmus91 commented on #47
Yes, i have tried it. It leaves me looking at this:

![skaermbillede fra 2018-11-09 11-02-16](https://user-images.githubusercontent.com/2297739/48256225-3cc53680-e40f-11e8-886c-7b5f3507cd63.png)

[2018-11-09 11:44] artemanufrij commented on #47
I think to sort only by album will have similar result

[2018-11-10 16:34] nathaneltitane commented on #139
I can vouch for this issue as well, elementary OS Juno - mounted a removable storage, ext4, containing my library, it crashes after a few dozen loads...

[2018-11-12 16:55] artemanufrij commented on #139
@aleksandar-todorovic @nathaneltitane could you test this branch please?
https://github.com/artemanufrij/playmymusic/tree/sleep-on-async-scan

[2018-11-12 16:56] artemanufrij commented on #139
#158

[2018-11-17 10:24] shawn1thompson opened #159 "Import playlist"
I am moving away from Google Play Music and have exported all my playlists to CSV files. Is there a way to import these into Melody? Thanks.

[2018-11-17 10:30] shawn1thompson commented on #159
artist,album,title,duration,playcount,rating,rating_interpretation
"New Edition","Heart Break","Can You Stand The Rain","4:58","4","0","not-rated"
"BANKS","Goddess (Deluxe)","Waiting Game","3:28","13","0","not-rated"
"BANKS","Goddess (Deluxe)","You Should Know Where I’m Coming From","3:56","15","0","not-rated"
"Correatown","Something About You","Something About You","3:55","8","0","not-rated"
"Yun

[2018-11-24 04:30] LynuxDevz opened #160 "Despite albums are sorted by year, they aren't sorted by release date"
This is one of my pain points with this -asides from this specific issue- wonderful app: A part of my collection is correctly sorted by year, yet not correctly sorted by release date

![captura realizada el 2018-11-23 21 23 43](https://user-images.githubusercontent.com/41881974/48964508-d14b9f00-efa0-11e8-92c3-ad7910f6d4a6.png)

For example: _Revolver_ and _"Yesterday"... and Today_ were released

[2018-11-24 09:57] aleksandar-stefanovic commented on #160
Do these specific albums have ID3v2 date tags correctly embedded? There's nothing that can be done if the related files either:
- use ID3v1 tags, as these do not support release dates more specific than the year of the release.
- use ID3v2 tags, but don't have the date information specified.

[2018-11-29 21:31] Jason5679 opened #161 "Album Order"
I can not sort the music by album only. Melody always sorts the artists too, so the album does not go through the correct order. (There are several artists in the album.)

[2018-11-29 21:40] artemanufrij commented on #161
@Jason5679 did yo tried this option:
https://github.com/artemanufrij/playmymusic/issues/47#issuecomment-435532446

[2018-12-01 18:34] shawn1thompson commented on #159
I've installed DB Browser for SQLite. If you can, could you point me in the right direction for importing directly into the DB? I have some DB experience, but not a lot. Thanks. I can document what I do as well as any difficulties I encounter if it helps.

[2018-12-01 23:06] Jason5679 commented on #161
Same problem as rasmus91.

[2018-12-01 23:06] #161 closed

[2018-12-05 09:06] nordknight opened #162 "Application freezes when switching between radio stations"
First i added http://www.rmfon.pl/n/rmffm.pls as RMF FM.
Then http://www.emsoft.strefa.pl/inne/radiozet.m3u as RadioZet.
Then I launch RMF FM by click on it - works fine.
But then I click on RadioZet and app freezed(do not respond).

Tech data:
elementary OS 5.0 Juno
Linux 4.15.0-42-generic
GTK+ 3.22.30

Intel® Core™ i5-7400 CPU @ 3.00GHz
Intel Corporation HD Graphics 630 (rev 04)
16 gb ram
ssd 25

[2018-12-09 19:42] nathaneltitane commented on #139
@artemanufrij is the flatpack on that page buit from the sleep-on-async branch? - if not, could you provide a quick way to test without compiling?

[2018-12-09 22:11] ozgurakyazi commented on #120
Do you have any update on this?

[2018-12-15 18:30] Maccer1 opened #163 "Closing and then opening Melody again doesn't save the previous state."
Steps to reproduce this:

- Open Melody and play a song
- Pause the song. Now you can see that exact song on the top bar as well as the highlighted song on the list view.
- Close melody pressing on the x.
- Open melody again. It doesn't load the last played song. It just resets to the default state.

Since this is a app designed for elementary I guess you may want to follow the [HID regarding the

[2019-01-11 07:06] robvdl commented on #139
It seems to crash when changing sources, Samba shares are involve so that could be it. One thing that is really annoying is the first time you start this application it instantly starts scanning without asking a media library location first (just quoting what my dad was saying as he is a bit of a music player critic/fan)

On my dads machine this was the wrong folder to begin with, so I changed the

[2019-01-11 16:49] LynuxDevz commented on #160
Sorry for not replying in almost a month, no, sadly the files don't use ID3 at all, however, I found a nice, but limited workaround by using [Translit](https://github.com/artemanufrij/translit), using Cyrillic letters seems to put the albums at the end of the list, in this case, it works for the latter two albums, but it doesn't for the former ones.

[2019-01-22 02:03] kolgza opened #167 "Melody is incompatible with Give Me Lyrics"
[Give Me Lyrics](https://appcenter.elementary.io/com.github.muriloventuroso.givemelyrics) is an Elementary OS native program that displays the lyrics of the current playing song. It works with Music (the aptly named default music player in Elementary OS), Audacious, and it even tries to find the lyrics to podcasts from [Vocal](https://github.com/needle-and-thread/vocal), but it does not detect any

[2019-01-22 11:21] muriloventuroso commented on #167
Status change via MPRIS appears to be incorrect on Melody. When a song is playing the status that the application reports is Paused. I'm investigating whether the issue is related to how GiveMeLyrics accesses this information or whether it relates to Melody.

[2019-01-23 08:03] ralniv commented on #167
This issue affects both Give Me Lyrics and the app Lyrics.  That would point to the issue being how Melody is reporting status.  I've noticed sometimes that the sound applet in the upper-right corner of Elementary OS sometimes shows "paused" when songs are playing.

[2019-01-24 06:04] ralniv opened #168 "Imported songs appear twice in my song library"

[2019-01-29 09:50] riker09 commented on #136
I was just about to open another issue with the same feature request. Would have added UPnP in the title, though. :wink:

[2019-01-29 12:59] giovannicaligaris commented on #136
This is the only thing that is stopping me from switching to PlayMyMusic. Currently using Rhythmbox.

[2019-02-02 13:45] streambinder opened #169 "Handle USLT tag for Lyrics fetching"
It would be nice to include items ID3 `USLT` (`Unsynchronized lyric/text transcription`) metadata fetching.
In my library I have tons of mp3 files in which I encapsulated a real `USLT` tag, but it seems almost no music player desktop application considered covering this case in a nice-looking functionality.
I see you're using `Gst` library to fetch tags and noticed Gstreamer actually already has a

[2019-02-14 14:02] riker09 commented on #122
Funny thing I just noticed. I opened `pavucontrol` to check on my volume settings and I was seeing the actual song title there. See sceenshot:

![screenshot von 2019-02-14 11 24 40](https://user-images.githubusercontent.com/568497/52791543-7c806780-3069-11e9-934a-d1218ee072b3.png)

So, the question is, why isn't it showing in the Melody app itself or the system indicator?

[2019-04-05 00:19] gibranlp opened #170 "Rating / Playlist"
Is there a way to see / modify the rating of a song? and based on that is there a way to make a playlist with the songs that have X rating?

[2019-04-06 22:52] joseluisq opened #171 "Radio station URL is always converted to lowercase"
I did place an url which contains uppercases in the end and the when I saved it then I coudn't play becase it was converted to lowercase.

[2019-06-05 16:13] alainm23 commented on #116
But you need to pay $ 99.99 to get a developer token.

[2019-07-16 07:00] AmirSavand opened #174 "Previous track doesn't work (plays a random track)"

[2019-07-29 05:19] Dorian-DS opened #178 "[Feature Request] Allow dragging from playlist to other apps"
As title states. Allow dragging a playlist item into another application by pasting the full file path into it.

For example, in some other music players I am able to drag from a playlist directly into Kdenlive's media library.  This is handy for previewing and quickly adding music in one place without needing to also use a file manager.  And this example is between Flatpaks, so I'm sure that Flat

[2019-07-29 05:22] Dorian-DS opened #179 "[Feature Request] Option for double-click to play"
Give option in preferences to double-click a playlist item to play it instead of single-click.

Default can remain single-click, but the option to change this would make it more adaptable to users' preferences.

[2019-08-03 07:43] svastian99 opened #180 "import files from external partitions to Linux"
works normally in ext4 but does not allow me to add music to the library from NTFS partitions.

[2019-08-04 06:21] svastian99 commented on #180
I fixed it this way {I'm new to Linux .. sorry} very good app. Thank you!
sudo flatpak override com.github.artemanufrij.playmymusic --filesystem=host

[2019-08-26 16:04] gvansanden opened #181 "Allow notifications to be disabled"
Melody shows a notification every time a new song starts.  They end up in the notification list and play a sound.  This is quite annoying when you listen to music while working.  It would be nice if there was an option to disable that.

[2019-10-05 03:29] #159 closed

[2019-12-08 22:01] janxkoci commented on #167
Also my keyboard shortcuts don't work with Melody, while they work just fine with Audacious and Music. I suspected Melody doesn't support MPRIS but now I read above it does - but apparently there is some issue there.

[2019-12-14 11:04] maboleth opened #186 "Quality of Life improvements needed"
I digging this player, but, alas, as many linux players these days, you cannot have all you need in a single package.

The stuff I noticed is missing or would be cool to have are:

1. Separate volume control. Seriously, this is default in all other players - why changing the master volume for the entire system just because your song is loud or quiet?
2. EQ with common presets and a custom option.

[2019-12-14 11:10] maboleth commented on #179
I agree, this is also needed, sometimes I'd like to select a song just for the "next" play, after the current one finishes, shouldn't be immediate.

Not sure, however, how much this player is maintained anymore, devs don't respond this year... :(

[2020-01-12 15:48] false-9 opened #187 "Play/Pause media key not functioning"
Hello,

On a fresh install of elementary OS/Hera. Play/Pause key is not working on my generic Microsoft keyboard, it works in the stock Music player. I've uninstalled the stock Music app, and selected Melody as the default application for music but still not working.

Is there anything I can do?

Thanks.

[2020-01-12 19:24] false-9 commented on #187
Update:

After a fresh reinstall of eOS due to some other issues, the play/pause key on my keyboard now works. Must have been a bug in eOS.

[2020-01-12 19:24] #187 closed

[2020-01-16 07:47] torikulhabib commented on #77
i was succes make DLNA on my project.
https://github.com/torikulhabib/niki

[2020-04-05 09:47] streambinder commented on #169
No feedback.

[2020-04-05 09:47] #169 closed

[2020-05-16 18:09] Hilyxx opened #191 "No Mpris support for Gnome 3.36"
I like your app. Simple, effective and stable. But since gnome 3.36, Mpris support is broken.
Will there be an update to support this gnome version ?

[2020-12-18 11:22] mohataj commented on #145
please group by Compilation TCMP tag, too

[2021-03-24 20:03] haggen88 opened #193 "Update GNOME runtime"
Updating flatpak I found the following message:

Info: org.gnome.Platform//3.36 is end-of-life, with reason:
   The GNOME 3.36 runtime is no longer supported as of February 13, 2021. Please ask your application developer to migrate to a supported platform.
Applications using this runtime:
   com.github.artemanufrij.playmymusic

Btw ..  great app!!!

[2021-04-07 22:50] vale981 opened #194 "Importing Playlists is broken"
https://github.com/artemanufrij/playmymusic/blob/bba5fe74134ad7533c41044d8ce41f1a8f69b3b0/src/Services/DataBaseManager.vala#L736

Most likely a regression introduced in 82a95f51fc9b6917ad3699d1b0d5777f1f0c7631

When importing playlists, the track is being searched by URI. In the database the URI is prefixed with `file://` and url escaped whereas the path in the playlist is plain.

Thus, melody can

[2021-07-05 21:28] orangecoloured commented on #171
Can confirm. Stream URLs containing uppercase characters don't work.

[2021-07-07 20:20] danirabbit opened #195 "Package as Flatpak for elementary OS 6"
As you might have heard, AppCenter is going Flatpak! For elementary OS 6, we will not longer be accepting Debian packaging, so your app will need to be updated.

We have documentation on our developer guide for writing your Flatpak manifest here: https://docs.elementary.io/develop/writing-apps/our-first-app/packaging#flatpak-manifest

Also, in case you missed it, elementary OS 6 beta 2 is [now ava

[2021-07-23 18:23] danirabbit opened #196 "Add your stripe key to appdata"
In the new version of AppCenter Dashboard, we're no longer modifying your appdata before publishing, so you'll need to add your stripe key to appdata.xml to continue to monetize your app in elementary OS 6

For your convenience, your public stripe key is:
`<value key="x-appcenter-stripe">pk_live_vY1Ddv6XgcpycIp2aHqtIE2J</value>`

[2021-09-09 21:56] dcowan-london commented on #195
Any update on eOS6 repackaging for Melody?

[2021-09-21 05:23] vchernin commented on #193
This is solved now thanks to https://github.com/flathub/com.github.artemanufrij.playmymusic/pull/12.

[2021-09-30 23:34] diogopessoa commented on #127
Hi mate.
I'm using Melody on elementary OS 6 Odin on an Asus notebook.

The only issue is that it doesn't recognize media shortcuts. The only one that works is the space shortcut, to pause and play.

The Music app (default of elementary) normally recognizes keyboard media shortcuts without any extra configuration.

is there anything i can do to work the media keyboard controls?

[2021-11-30 16:40] #193 closed, assigned to artemanufrij

[2021-12-23 17:40] aliceemanueli opened #197 "ElementaryOS"
Please bring all your apps to Elementary OS!  we're missing your apps!  thank you!